<div class='progress-msg'>Tue, 24 Oct 2017 14:21:06 +0000</div>
<div class="progress-msg">[14:21:06] Composing titles...</div>
<div class="progress-msg">[14:21:06] Composing excerpts...</div>
<div class="progress-msg">[14:21:06] Composing duplicate indicators...</div>
<div class="progress-msg">[14:21:06] Composing authors...</div>
<div class="progress-msg">[14:21:06] Composing slugs...</div>
<div class="progress-msg">[14:21:06] Composing menu order...</div>
<div class="progress-msg">[14:21:06] Composing contents...</div>
<div class="progress-msg">[14:21:06] Composing dates...</div>
<div class="progress-msg">[14:21:06] Composing custom parameters...</div>
<div class="progress-msg">[14:21:06] Composing URLs for images...</div>
<div class="progress-msg">[14:21:06] Composing URLs for attachments files...</div>
<div class="progress-msg">[14:21:06] Composing unique keys...</div>
<div class="progress-msg">[14:21:06] Processing posts...</div>
<div class="progress-msg">[14:21:06] Data parsing via add-ons...</div>
<div class="progress-msg">[14:21:06] Composing advanced custom fields...</div>
<div class="progress-msg">[14:21:06] ---</div>
<div class="progress-msg">[14:21:06] Record #1</div>
<div class="progress-msg">[14:21:06] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[14:21:06] Combine all data for post `De betrokkene zelf <br> La personne enregistrée elle-même`...</div>
<div class="progress-msg">[14:21:06] Find corresponding article among previously imported for post `De betrokkene zelf <br> La personne enregistrée elle-même`...</div>
<div class="progress-msg">[14:21:06] Duplicate post wasn't found with unique key `C001`...</div>
<div class="progress-msg">[14:21:06] Applying filter `pmxi_article_data` for `De betrokkene zelf <br> La personne enregistrée elle-même`</div>
<div class="progress-msg">[14:21:06] <b>CREATING</b> `De betrokkene zelf <br> La personne enregistrée elle-même` `Beneficiary`</div>
<div class="progress-msg">[14:21:06] Associate post `De betrokkene zelf <br> La personne enregistrée elle-même` with current import ...</div>
<div class="progress-msg">[14:21:06] <strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">[14:21:06] - Importing field `beneficiary_category_post_nl`</div>
<div class="progress-msg">[14:21:06] - Field `beneficiary_category_post_nl` updated with value `De betrokkene zelf`</div>
<div class="progress-msg">[14:21:06] - Importing field `beneficiary_category_post_fr`</div>
<div class="progress-msg">[14:21:06] - Field `beneficiary_category_post_fr` updated with value `La personne enregistrée elle-même`</div>
<div class="progress-msg">[14:21:06] <b>CREATED</b> `De betrokkene zelf <br> La personne enregistrée elle-même` `Beneficiary` (ID: 2282)</div>
<div class="progress-msg">[14:21:06] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[14:21:06] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[14:21:06] ---</div>
<div class="progress-msg">[14:21:06] Record #2</div>
<div class="progress-msg">[14:21:06] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[14:21:06] Combine all data for post `Persoonlijke relaties van de geregistreerde persoon <br> Des relations personnelles de la personne enregistrée`...</div>
<div class="progress-msg">[14:21:06] Find corresponding article among previously imported for post `Persoonlijke relaties van de geregistreerde persoon <br> Des relations personnelles de la personne enregistrée`...</div>
<div class="progress-msg">[14:21:06] Duplicate post wasn't found with unique key `C002`...</div>
<div class="progress-msg">[14:21:06] Applying filter `pmxi_article_data` for `Persoonlijke relaties van de geregistreerde persoon <br> Des relations personnelles de la personne enregistrée`</div>
<div class="progress-msg">[14:21:06] <b>CREATING</b> `Persoonlijke relaties van de geregistreerde persoon <br> Des relations personnelles de la personne enregistrée` `Beneficiary`</div>
<div class="progress-msg">[14:21:06] Associate post `Persoonlijke relaties van de geregistreerde persoon <br> Des relations personnelles de la personne enregistrée` with current import ...</div>
<div class="progress-msg">[14:21:06] <strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">[14:21:06] - Importing field `beneficiary_category_post_nl`</div>
<div class="progress-msg">[14:21:06] - Field `beneficiary_category_post_nl` updated with value `Persoonlijke relaties van de geregistreerde persoon`</div>
<div class="progress-msg">[14:21:06] - Importing field `beneficiary_category_post_fr`</div>
<div class="progress-msg">[14:21:06] - Field `beneficiary_category_post_fr` updated with value `Des relations personnelles de la personne enregistrée`</div>
<div class="progress-msg">[14:21:06] <b>CREATED</b> `Persoonlijke relaties van de geregistreerde persoon <br> Des relations personnelles de la personne enregistrée` `Beneficiary` (ID: 2283)</div>
<div class="progress-msg">[14:21:06] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[14:21:06] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[14:21:06] ---</div>
<div class="progress-msg">[14:21:06] Record #3</div>
<div class="progress-msg">[14:21:06] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[14:21:06] Combine all data for post `Professionele raadgevers van de geregistreerde persoon <br> Des conseillers professionnels de la personne enregistrée`...</div>
<div class="progress-msg">[14:21:06] Find corresponding article among previously imported for post `Professionele raadgevers van de geregistreerde persoon <br> Des conseillers professionnels de la personne enregistrée`...</div>
<div class="progress-msg">[14:21:06] Duplicate post wasn't found with unique key `C003`...</div>
<div class="progress-msg">[14:21:06] Applying filter `pmxi_article_data` for `Professionele raadgevers van de geregistreerde persoon <br> Des conseillers professionnels de la personne enregistrée`</div>
<div class="progress-msg">[14:21:06] <b>CREATING</b> `Professionele raadgevers van de geregistreerde persoon <br> Des conseillers professionnels de la personne enregistrée` `Beneficiary`</div>
<div class="progress-msg">[14:21:06] Associate post `Professionele raadgevers van de geregistreerde persoon <br> Des conseillers professionnels de la personne enregistrée` with current import ...</div>
<div class="progress-msg">[14:21:06] <strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">[14:21:06] - Importing field `beneficiary_category_post_nl`</div>
<div class="progress-msg">[14:21:06] - Field `beneficiary_category_post_nl` updated with value `Professionele raadgevers van de geregistreerde persoon`</div>
<div class="progress-msg">[14:21:06] - Importing field `beneficiary_category_post_fr`</div>
<div class="progress-msg">[14:21:06] - Field `beneficiary_category_post_fr` updated with value `Des conseillers professionnels de la personne enregistrée`</div>
<div class="progress-msg">[14:21:06] <b>CREATED</b> `Professionele raadgevers van de geregistreerde persoon <br> Des conseillers professionnels de la personne enregistrée` `Beneficiary` (ID: 2284)</div>
<div class="progress-msg">[14:21:06] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[14:21:06] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[14:21:06] ---</div>
<div class="progress-msg">[14:21:06] Record #4</div>
<div class="progress-msg">[14:21:06] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[14:21:06] Combine all data for post `Werkgever of zakenrelaties van de geregistreerde persoon <br> Lemployeur ou des relations de travail de la personne enregistrée`...</div>
<div class="progress-msg">[14:21:06] Find corresponding article among previously imported for post `Werkgever of zakenrelaties van de geregistreerde persoon <br> Lemployeur ou des relations de travail de la personne enregistrée`...</div>
<div class="progress-msg">[14:21:06] Duplicate post wasn't found with unique key `C004`...</div>
<div class="progress-msg">[14:21:06] Applying filter `pmxi_article_data` for `Werkgever of zakenrelaties van de geregistreerde persoon <br> Lemployeur ou des relations de travail de la personne enregistrée`</div>
<div class="progress-msg">[14:21:06] <b>CREATING</b> `Werkgever of zakenrelaties van de geregistreerde persoon <br> Lemployeur ou des relations de travail de la personne enregistrée` `Beneficiary`</div>
<div class="progress-msg">[14:21:06] Associate post `Werkgever of zakenrelaties van de geregistreerde persoon <br> Lemployeur ou des relations de travail de la personne enregistrée` with current import ...</div>
<div class="progress-msg">[14:21:06] <strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">[14:21:06] - Importing field `beneficiary_category_post_nl`</div>
<div class="progress-msg">[14:21:06] - Field `beneficiary_category_post_nl` updated with value `Werkgever of zakenrelaties van de geregistreerde persoon`</div>
<div class="progress-msg">[14:21:06] - Importing field `beneficiary_category_post_fr`</div>
<div class="progress-msg">[14:21:06] - Field `beneficiary_category_post_fr` updated with value `Lemployeur ou des relations de travail de la personne enregistrée`</div>
<div class="progress-msg">[14:21:06] <b>CREATED</b> `Werkgever of zakenrelaties van de geregistreerde persoon <br> Lemployeur ou des relations de travail de la personne enregistrée` `Beneficiary` (ID: 2285)</div>
<div class="progress-msg">[14:21:06] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[14:21:06] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[14:21:06] ---</div>
<div class="progress-msg">[14:21:06] Record #5</div>
<div class="progress-msg">[14:21:06] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[14:21:06] Combine all data for post `Individuen of organisaties in directe relatie met de verantwoordelijke <br> Des individus ou des organisations en relation directe avec le responsable`...</div>
<div class="progress-msg">[14:21:06] Find corresponding article among previously imported for post `Individuen of organisaties in directe relatie met de verantwoordelijke <br> Des individus ou des organisations en relation directe avec le responsable`...</div>
<div class="progress-msg">[14:21:06] Duplicate post wasn't found with unique key `C005`...</div>
<div class="progress-msg">[14:21:06] Applying filter `pmxi_article_data` for `Individuen of organisaties in directe relatie met de verantwoordelijke <br> Des individus ou des organisations en relation directe avec le responsable`</div>
<div class="progress-msg">[14:21:06] <b>CREATING</b> `Individuen of organisaties in directe relatie met de verantwoordelijke <br> Des individus ou des organisations en relation directe avec le responsable` `Beneficiary`</div>
<div class="progress-msg">[14:21:07] Associate post `Individuen of organisaties in directe relatie met de verantwoordelijke <br> Des individus ou des organisations en relation directe avec le responsable` with current import ...</div>
<div class="progress-msg">[14:21:07] <strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">[14:21:07] - Importing field `beneficiary_category_post_nl`</div>
<div class="progress-msg">[14:21:07] - Field `beneficiary_category_post_nl` updated with value `Individuen of organisaties in directe relatie met de verantwoordelijke`</div>
<div class="progress-msg">[14:21:07] - Importing field `beneficiary_category_post_fr`</div>
<div class="progress-msg">[14:21:07] - Field `beneficiary_category_post_fr` updated with value `Des individus ou des organisations en relation directe avec le responsable`</div>
<div class="progress-msg">[14:21:07] <b>CREATED</b> `Individuen of organisaties in directe relatie met de verantwoordelijke <br> Des individus ou des organisations en relation directe avec le responsable` `Beneficiary` (ID: 2286)</div>
<div class="progress-msg">[14:21:07] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[14:21:07] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[14:21:07] ---</div>
<div class="progress-msg">[14:21:07] Record #6</div>
<div class="progress-msg">[14:21:07] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[14:21:07] Combine all data for post `Andere diensten of nevenondernemingen van de verantwoordelijke <br> Autres services ou entreprises annexes du responsable`...</div>
<div class="progress-msg">[14:21:07] Find corresponding article among previously imported for post `Andere diensten of nevenondernemingen van de verantwoordelijke <br> Autres services ou entreprises annexes du responsable`...</div>
<div class="progress-msg">[14:21:07] Duplicate post wasn't found with unique key `C006`...</div>
<div class="progress-msg">[14:21:07] Applying filter `pmxi_article_data` for `Andere diensten of nevenondernemingen van de verantwoordelijke <br> Autres services ou entreprises annexes du responsable`</div>
<div class="progress-msg">[14:21:07] <b>CREATING</b> `Andere diensten of nevenondernemingen van de verantwoordelijke <br> Autres services ou entreprises annexes du responsable` `Beneficiary`</div>
<div class="progress-msg">[14:21:07] Associate post `Andere diensten of nevenondernemingen van de verantwoordelijke <br> Autres services ou entreprises annexes du responsable` with current import ...</div>
<div class="progress-msg">[14:21:07] <strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">[14:21:07] - Importing field `beneficiary_category_post_nl`</div>
<div class="progress-msg">[14:21:07] - Field `beneficiary_category_post_nl` updated with value `Andere diensten of nevenondernemingen van de verantwoordelijke`</div>
<div class="progress-msg">[14:21:07] - Importing field `beneficiary_category_post_fr`</div>
<div class="progress-msg">[14:21:07] - Field `beneficiary_category_post_fr` updated with value `Autres services ou entreprises annexes du responsable`</div>
<div class="progress-msg">[14:21:07] <b>CREATED</b> `Andere diensten of nevenondernemingen van de verantwoordelijke <br> Autres services ou entreprises annexes du responsable` `Beneficiary` (ID: 2287)</div>
<div class="progress-msg">[14:21:07] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[14:21:07] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[14:21:07] ---</div>
<div class="progress-msg">[14:21:07] Record #7</div>
<div class="progress-msg">[14:21:07] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[14:21:07] Combine all data for post `Andere privé-ondernemingen <br> Autres entreprises privées`...</div>
<div class="progress-msg">[14:21:07] Find corresponding article among previously imported for post `Andere privé-ondernemingen <br> Autres entreprises privées`...</div>
<div class="progress-msg">[14:21:07] Duplicate post wasn't found with unique key `C007`...</div>
<div class="progress-msg">[14:21:07] Applying filter `pmxi_article_data` for `Andere privé-ondernemingen <br> Autres entreprises privées`</div>
<div class="progress-msg">[14:21:07] <b>CREATING</b> `Andere privé-ondernemingen <br> Autres entreprises privées` `Beneficiary`</div>
<div class="progress-msg">[14:21:07] Associate post `Andere privé-ondernemingen <br> Autres entreprises privées` with current import ...</div>
<div class="progress-msg">[14:21:07] <strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">[14:21:07] - Importing field `beneficiary_category_post_nl`</div>
<div class="progress-msg">[14:21:07] - Field `beneficiary_category_post_nl` updated with value `Andere privé-ondernemingen`</div>
<div class="progress-msg">[14:21:07] - Importing field `beneficiary_category_post_fr`</div>
<div class="progress-msg">[14:21:07] - Field `beneficiary_category_post_fr` updated with value `Autres entreprises privées`</div>
<div class="progress-msg">[14:21:07] <b>CREATED</b> `Andere privé-ondernemingen <br> Autres entreprises privées` `Beneficiary` (ID: 2288)</div>
<div class="progress-msg">[14:21:07] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[14:21:07] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[14:21:07] ---</div>
<div class="progress-msg">[14:21:07] Record #8</div>
<div class="progress-msg">[14:21:07] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[14:21:07] Combine all data for post `Overheidsdiensten <br> Services publics`...</div>
<div class="progress-msg">[14:21:07] Find corresponding article among previously imported for post `Overheidsdiensten <br> Services publics`...</div>
<div class="progress-msg">[14:21:07] Duplicate post wasn't found with unique key `C008`...</div>
<div class="progress-msg">[14:21:07] Applying filter `pmxi_article_data` for `Overheidsdiensten <br> Services publics`</div>
<div class="progress-msg">[14:21:07] <b>CREATING</b> `Overheidsdiensten <br> Services publics` `Beneficiary`</div>
<div class="progress-msg">[14:21:07] Associate post `Overheidsdiensten <br> Services publics` with current import ...</div>
<div class="progress-msg">[14:21:07] <strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">[14:21:07] - Importing field `beneficiary_category_post_nl`</div>
<div class="progress-msg">[14:21:07] - Field `beneficiary_category_post_nl` updated with value `Overheidsdiensten`</div>
<div class="progress-msg">[14:21:07] - Importing field `beneficiary_category_post_fr`</div>
<div class="progress-msg">[14:21:07] - Field `beneficiary_category_post_fr` updated with value `Services publics`</div>
<div class="progress-msg">[14:21:07] <b>CREATED</b> `Overheidsdiensten <br> Services publics` `Beneficiary` (ID: 2289)</div>
<div class="progress-msg">[14:21:07] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[14:21:07] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[14:21:07] ---</div>
<div class="progress-msg">[14:21:07] Record #9</div>
<div class="progress-msg">[14:21:07] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[14:21:07] Combine all data for post `Gerecht en politiediensten <br> Justice et services de police`...</div>
<div class="progress-msg">[14:21:07] Find corresponding article among previously imported for post `Gerecht en politiediensten <br> Justice et services de police`...</div>
<div class="progress-msg">[14:21:07] Duplicate post wasn't found with unique key `C009`...</div>
<div class="progress-msg">[14:21:07] Applying filter `pmxi_article_data` for `Gerecht en politiediensten <br> Justice et services de police`</div>
<div class="progress-msg">[14:21:07] <b>CREATING</b> `Gerecht en politiediensten <br> Justice et services de police` `Beneficiary`</div>
<div class="progress-msg">[14:21:07] Associate post `Gerecht en politiediensten <br> Justice et services de police` with current import ...</div>
<div class="progress-msg">[14:21:07] <strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">[14:21:07] - Importing field `beneficiary_category_post_nl`</div>
<div class="progress-msg">[14:21:07] - Field `beneficiary_category_post_nl` updated with value `Gerecht en politiediensten`</div>
<div class="progress-msg">[14:21:07] - Importing field `beneficiary_category_post_fr`</div>
<div class="progress-msg">[14:21:07] - Field `beneficiary_category_post_fr` updated with value `Justice et services de police`</div>
<div class="progress-msg">[14:21:07] <b>CREATED</b> `Gerecht en politiediensten <br> Justice et services de police` `Beneficiary` (ID: 2290)</div>
<div class="progress-msg">[14:21:07] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[14:21:07] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[14:21:07] ---</div>
<div class="progress-msg">[14:21:07] Record #10</div>
<div class="progress-msg">[14:21:07] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[14:21:07] Combine all data for post `Sociale zekerheidsinstanties <br> Instances de la sécurité sociale`...</div>
<div class="progress-msg">[14:21:07] Find corresponding article among previously imported for post `Sociale zekerheidsinstanties <br> Instances de la sécurité sociale`...</div>
<div class="progress-msg">[14:21:07] Duplicate post wasn't found with unique key `C010`...</div>
<div class="progress-msg">[14:21:07] Applying filter `pmxi_article_data` for `Sociale zekerheidsinstanties <br> Instances de la sécurité sociale`</div>
<div class="progress-msg">[14:21:07] <b>CREATING</b> `Sociale zekerheidsinstanties <br> Instances de la sécurité sociale` `Beneficiary`</div>
<div class="progress-msg">[14:21:07] Associate post `Sociale zekerheidsinstanties <br> Instances de la sécurité sociale` with current import ...</div>
<div class="progress-msg">[14:21:07] <strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">[14:21:07] - Importing field `beneficiary_category_post_nl`</div>
<div class="progress-msg">[14:21:07] - Field `beneficiary_category_post_nl` updated with value `Sociale zekerheidsinstanties`</div>
<div class="progress-msg">[14:21:07] - Importing field `beneficiary_category_post_fr`</div>
<div class="progress-msg">[14:21:07] - Field `beneficiary_category_post_fr` updated with value `Instances de la sécurité sociale`</div>
<div class="progress-msg">[14:21:07] <b>CREATED</b> `Sociale zekerheidsinstanties <br> Instances de la sécurité sociale` `Beneficiary` (ID: 2291)</div>
<div class="progress-msg">[14:21:07] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[14:21:07] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[14:21:07] ---</div>
<div class="progress-msg">[14:21:07] Record #11</div>
<div class="progress-msg">[14:21:07] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[14:21:07] Combine all data for post `Banken en verzekeringsmaatschappijen <br> Banques et compagnies d'assurances`...</div>
<div class="progress-msg">[14:21:07] Find corresponding article among previously imported for post `Banken en verzekeringsmaatschappijen <br> Banques et compagnies d'assurances`...</div>
<div class="progress-msg">[14:21:07] Duplicate post wasn't found with unique key `C011`...</div>
<div class="progress-msg">[14:21:07] Applying filter `pmxi_article_data` for `Banken en verzekeringsmaatschappijen <br> Banques et compagnies d'assurances`</div>
<div class="progress-msg">[14:21:07] <b>CREATING</b> `Banken en verzekeringsmaatschappijen <br> Banques et compagnies d'assurances` `Beneficiary`</div>
<div class="progress-msg">[14:21:07] Associate post `Banken en verzekeringsmaatschappijen <br> Banques et compagnies d'assurances` with current import ...</div>
<div class="progress-msg">[14:21:07] <strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">[14:21:07] - Importing field `beneficiary_category_post_nl`</div>
<div class="progress-msg">[14:21:07] - Field `beneficiary_category_post_nl` updated with value `Banken en verzekeringsmaatschappijen`</div>
<div class="progress-msg">[14:21:07] - Importing field `beneficiary_category_post_fr`</div>
<div class="progress-msg">[14:21:07] - Field `beneficiary_category_post_fr` updated with value `Banques et compagnies d&#039;assurances`</div>
<div class="progress-msg">[14:21:07] <b>CREATED</b> `Banken en verzekeringsmaatschappijen <br> Banques et compagnies d'assurances` `Beneficiary` (ID: 2292)</div>
<div class="progress-msg">[14:21:07] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[14:21:07] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[14:21:07] ---</div>
<div class="progress-msg">[14:21:07] Record #12</div>
<div class="progress-msg">[14:21:07] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[14:21:07] Combine all data for post `Makelaars in persoonsgegevens of direct marketing <br> Courtiers en données à caractère personnel ou marketing direct`...</div>
<div class="progress-msg">[14:21:07] Find corresponding article among previously imported for post `Makelaars in persoonsgegevens of direct marketing <br> Courtiers en données à caractère personnel ou marketing direct`...</div>
<div class="progress-msg">[14:21:07] Duplicate post wasn't found with unique key `C012`...</div>
<div class="progress-msg">[14:21:07] Applying filter `pmxi_article_data` for `Makelaars in persoonsgegevens of direct marketing <br> Courtiers en données à caractère personnel ou marketing direct`</div>
<div class="progress-msg">[14:21:07] <b>CREATING</b> `Makelaars in persoonsgegevens of direct marketing <br> Courtiers en données à caractère personnel ou marketing direct` `Beneficiary`</div>
<div class="progress-msg">[14:21:07] Associate post `Makelaars in persoonsgegevens of direct marketing <br> Courtiers en données à caractère personnel ou marketing direct` with current import ...</div>
<div class="progress-msg">[14:21:07] <strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">[14:21:07] - Importing field `beneficiary_category_post_nl`</div>
<div class="progress-msg">[14:21:07] - Field `beneficiary_category_post_nl` updated with value `Makelaars in persoonsgegevens of direct marketing`</div>
<div class="progress-msg">[14:21:07] - Importing field `beneficiary_category_post_fr`</div>
<div class="progress-msg">[14:21:07] - Field `beneficiary_category_post_fr` updated with value `Courtiers en données à caractère personnel ou marketing direct`</div>
<div class="progress-msg">[14:21:07] <b>CREATED</b> `Makelaars in persoonsgegevens of direct marketing <br> Courtiers en données à caractère personnel ou marketing direct` `Beneficiary` (ID: 2293)</div>
<div class="progress-msg">[14:21:07] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[14:21:07] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[14:21:07] ---</div>
<div class="progress-msg">[14:21:07] Record #13</div>
<div class="progress-msg">[14:21:07] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[14:21:07] Combine all data for post `Andere <br> Autres`...</div>
<div class="progress-msg">[14:21:07] Find corresponding article among previously imported for post `Andere <br> Autres`...</div>
<div class="progress-msg">[14:21:07] Duplicate post wasn't found with unique key `C013`...</div>
<div class="progress-msg">[14:21:07] Applying filter `pmxi_article_data` for `Andere <br> Autres`</div>
<div class="progress-msg">[14:21:07] <b>CREATING</b> `Andere <br> Autres` `Beneficiary`</div>
<div class="progress-msg">[14:21:07] Associate post `Andere <br> Autres` with current import ...</div>
<div class="progress-msg">[14:21:07] <strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">[14:21:07] - Importing field `beneficiary_category_post_nl`</div>
<div class="progress-msg">[14:21:07] - Field `beneficiary_category_post_nl` updated with value `Andere`</div>
<div class="progress-msg">[14:21:07] - Importing field `beneficiary_category_post_fr`</div>
<div class="progress-msg">[14:21:07] - Field `beneficiary_category_post_fr` updated with value `Autres`</div>
<div class="progress-msg">[14:21:07] <b>CREATED</b> `Andere <br> Autres` `Beneficiary` (ID: 2294)</div>
<div class="progress-msg">[14:21:07] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[14:21:07] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[14:21:07] Cleaning temporary data...</div>
