/*  left nav */
.z-depth-2 {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.z-depth-3 {
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); }

.z-depth-4, .modal {
    box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21); }

.z-depth-5 {
    box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22); }


body {
    margin:0px;
}

@media only screen {
    main {
        padding-left:210px;
    }
}


@media only screen and (max-width: 961px) {
    main {
        padding-left: 0px;
    }

}

#viz_container {
    margin:0px auto;
    width:100%;
    height:600px;
    padding-top:0px;
    border-radius:6px;
}

/*div.container {
    width:100%;
    position:absolute;
    top:100px;
}*/

.vz-background {
    fill: transparent;
}

.tile {
    font-family:Raleway;
    font-weight:300;
}

.heading {
    font-family:Raleway;
    font-weight:300;
}

.side-nav li:hover {
    background-color:#FFF;
}

.leftAxis {
    font-weight:200;
}


.datatip-value {
    position:absolute;
    right:10px;
}

.title {
    font-family: "Roboto";
    font-size: 20px;
    font-weight:200;
}

.vizuly {
    font-family: "Raleway"
}

svg {
    border-radius: 4px;
    shape-rendering: crispEdges;
}

.vz-data-point {
    fill-opacity:1;
    stroke-width: 1px;
    stroke-opacity:1;
}

.vz-tip-hover {
    font-weight:300;
}

.vz-tip-hover text{
    opacity:.8;
}

.my-tip {
    font-family:Raleway;
    font-weight:300;
    text-anchor:middle;
}

/* MATERIAL.CSS */

[type="radio"]:checked + label:after {
    background-color:#448AFF;
    border-color: #3864c9;
}

[type="radio"] + label {
    border-color: #3864c9;
}

.input-field {
    margin-left: 0px;
    padding-bottom: 5px;
    font-family: "Roboto";
}

.dropdown-content {
    font-family:"Roboto";
    font-size:.5em;
}

.dropdown-content li span {
    font-family:"Roboto";
    font-size:1.75em;
}

div.input-field label {
    margin-left:-10px;
}

.mdi-navigation-menu {
    font-size:30px;
    color:#444;
}

div.settings-label {
    font-size:12px;
    color:#BBB;
    font-style: italic;
    margin-top:-10px;
    margin-bottom:40px;
    font-weight:300;
}

div.halo_tooltip {
    position: absolute;
    text-align: left;
    pointer-events: none;
    padding: 3px;
    border: 0px solid #D5D5D5;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 0.75rem;
    color: #333;
    border-radius: 0px;
    background: rgba(255,255,255,1);
    color: #000;
    box-shadow: 0 1px 5px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.4);
}


.header-rule{
    height:1px;
    margin:1px auto 3px;
    margin-top:7px;
    margin-bottom:7px;
    background:#ddd;
    width:125px;
}

.header1{
    color:#000;
    text-transform:uppercase;
    font-size: 12px;
    margin-bottom: 2px;
    text-align:center;
}

.header2 {
    color:#666;
    text-align:center;
}

.header3 {
    color:#333;
    text-align: left;
    font-size: 15px;
    font-style: italic;
    font-family: Georgia;
    /*  width:170px;*/
    text-align:center;
}


i.mdi-navigation-menu:before {
    font-size:40px;
    content: "\e662";
}
i.mdi-navigation-menu:hover {
    transition: color 0.5s ease;
    color: #0176B4;
}

#myDataTip {
    font-family:Raleway;
    line-height: 18px;
}