/*
 * Globals
 */
html {
  font-size: 16px;
}
body {
  font-family: 'Roboto', Georgia, "Times New Roman", Times, sans-serif;
  color: #4a4a4a;
  font-weight: 300;
}

body.noScroll section:not(:first-child) {
  display: none;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
  color: #333;
}


/* Base colors */
.light-color {
  color: #f5f5f5;
}
.medium-color {
  color: #e8e8e8;
}
.dark-color {
  color: #a4a4a4;
}

.light-bg-color {
  background-color: #f5f5f5;
}
.medium-bg-color {
  background-color: #e8e8e8;
}

.dark-bg-color {
  background-color: #a4a4a4;
}

/* Data colors */


/*
 * Override Bootstrap's default container.
 */

/*@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}*/

/* Navbar, Main Menu and Sub-Menu */
#main-nav-mobile-container, #main-menu, #main-nav {
  font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
  font-size: 0.875rem;
}
nav.navbar {
  border-bottom: 1px solid #e9e9e9;
}
.navbar-toggler {
  padding: .25rem 0rem;
}
#main-menu-navbar {
  flex-grow: 0;
}
#main-menu-navbar .nav-link {
  color: #4a4a4a;
  border-top: 5px solid #FFF;
  padding: 1.5625rem 1rem 1.75rem 1rem;
  font-weight: 300;
}
#main-menu-navbar .nav-item, #main-menu-search-language .nav-item {
  border-left: 1px solid #e9e9e9;
}
#main-menu-navbar .nav-item:last-child {
  border-right: 1px solid #e9e9e9;
}
#main-menu-navbar .nav-link.active, #main-menu-search-language .nav-link.active {
  border-top: 5px solid #3a3a3a;
  font-weight: 700;
}
#main-menu-search-language .nav-link {
  color: #4a4a4a;
  border-top: 5px solid #FFF;
  padding: 1.5625rem 1rem 1.75rem 1rem;
  font-weight: 300;
}
#main-menu {
  height: calc(100vh - 5rem);
  margin-top: 5rem;
  align-items: start;
  padding: 0rem;
  background: rgba(0,0,0,0.7);
}
#main-menu .fa {
  margin-top: 0.25rem;
}
#main-menu-data .nav-pills .nav-link {
  border-radius: 0;
  margin-left: 2.25rem;
  background: #F5F5F5;
  color: #4a4a4a;
  border-top: 1px solid #e9e9e9;
  padding: .625rem 1rem;
  font-weight: 500;
}
#main-menu-authorities-left-pane .nav-pills .nav-item, #main-menu-beneficiaries-left-pane .nav-pills .nav-item {
  border-radius: 0;
  background: #F5F5F5;
  border-top: 1px solid #e9e9e9;
}
#main-menu-authorities-left-pane .nav-pills .nav-link, #main-menu-beneficiaries-left-pane .nav-pills .nav-link {
  border-radius: 0;
  background: #F5F5F5;
  color: #4a4a4a;
  padding: .625rem 1rem .625rem 2rem;
  font-weight: 500;
}
#main-menu-authorities-left-pane .nav-pills .nav-item:first-child, #main-menu-beneficiaries-left-pane .nav-pills .nav-item:first-child {
  border-top: 0;
}
#main-menu-authorities-nav, #main-menu-beneficiaries-nav {
  max-height:calc(100vh - 9.313rem);
  overflow-y: auto;
  overflow-x: hidden;
}
#main-menu .main-menu-title {
  background: #F5F5F5;
  color: #4a4a4a;
  display: block;
  padding: 1.5rem 1rem;
  border: 0;
  font-weight: 700;
}
#main-menu-authorities-left-pane .main-menu-title, #main-menu-beneficiaries-left-pane .main-menu-title {
  border-bottom: 1px solid #e9e9e9;
}

#main-menu-authorities-right-pane .nav-link {
  font-weight: 300 !important;
}

.main-menu-right-pane {
  height: calc(100vh - 5rem);
}
.main-menu-right-pane .list-group-item {
  background-color: transparent;
  margin-bottom: 0;
  border: 0;
  border-radius: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  margin-right: 1rem;
}
.main-menu-right-pane .list-group-item:last-child {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
#main-menu .categories-list-title {
  padding: 1.5rem 1.25rem;
  margin-bottom: 0;
  font-weight: 700;
  border-bottom: 1px solid #d9d9d9;
}
#main-menu .categories-list-title.text-white {
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}
#main-menu .categories-list, #main-menu .categories-list-dark {
  column-fill: balance;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  height: calc(100vh - 9.313rem);
  overflow-y: auto;
  overflow-x: hidden;
}
#main-menu .categories-list p {
  display: inline-block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  width: 100%;
  padding: 0.625rem 1.25rem;
}
#main-menu .categories-list-dark p {
  display: inline-block;
  border-bottom: 1px solid #d9d9d9;
  width: 100%;
  padding: 0.625rem 1.25rem;
}
#main-menu .categories-list a, #main-menu .categories-list-dark a {
  font-weight: 300;
}
#main-menu .categories-list-dark a {
  color: #292929;
}
#main-menu .categories-list a:hover, #main-menu .categories-list-dark a:hover {
  text-decoration: none;
}
.hide-main-menu:link, .hide-main-menu:visited {
  color: #898989;
}
.hide-main-menu:hover, .hide-main-menu:focus, .hide-main-menu:active {
  color: #3F3F3F;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(48, 55, 60, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-data:before {
  font-family: FontAwesome;
  content:"\f1c0";
  margin-right: 10px;
}
.nav-authorities:before{
  font-family: FontAwesome;
  content:"\f19c";
  margin-right: 10px;
}
.nav-beneficiaries:before {
  font-family: FontAwesome;
  content:"\f1e0";
  margin-right: 10px;
}


#main-nav-mobile {
  padding: 1.15rem 1rem;
}
#main-menu-top-level-mobile-header {
  border-bottom: 1px solid #2A2A2A;
  background: #2A2A2A;
}
#main-menu-top-level-mobile-header a {
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
  text-decoration: none;
  font-weight: 700;
}
#main-menu-top-level-mobile-content {
  height: calc(100vh - 5rem);
  margin-top: 5rem;
  align-items: start;
  padding: 0rem;
  background: #2A2A2A;
}
#main-menu-top-level-mobile-content .nav-link {
  background: #f5f5f5;
  color: #4a4a4a;
  padding: 0.875rem 1.5rem;
  border-bottom: 1px solid #e9e9e9;
  font-weight: 500;
}

#main-menu-language-switcher-mobile {
  margin: 2rem 1rem;
}
#main-menu-language-switcher-mobile a {
  padding: 0.5rem;
  margin: 0.5rem;
  text-decoration: none;
  font-weight: 500;
}
#main-menu-language-switcher-mobile a.active {
  font-weight: 700;
  border-bottom: 2px solid #FFF;
}
#main-menu-mobile {
  background: #2A2A2A;
  height: 100%;
}
#main-menu-data-mobile-header {
  border-bottom: 1px solid #e9e9e9;
  background: #f5f5f5;
}
#main-menu-data-mobile-header a {
  font-weight: 700;
  padding-top: 1.305rem;
  padding-bottom: 1.305rem;
  text-decoration: none;
}
#main-menu-data-mobile-content {
  margin-top: 5rem;
  align-items: start;
  padding: 0rem;
  background: #2A2A2A;
}
#main-menu-data-mobile-content .nav-item, #main-menu-authorities-mobile-content .nav-item, #main-menu-beneficiaries-mobile-content .nav-item {
  border-top: 1px solid #e9e9e9;
}
#main-menu-data-mobile-content .nav-item:first-child, #main-menu-authorities-mobile-content .nav-item:first-child, #main-menu-beneficiaries-mobile-content .nav-item:first-child {
  border-top: 0;
}
#main-menu-data-mobile-content .nav-link {
  border-radius: 0;
  margin-left: 2.25rem;
  background: #F5F5F5;
  color: #3b3b3b;
  padding: .75rem 1rem;
  font-weight: 500;
}
#main-menu-authorities-mobile-header {
  background: #F5F5F5;
  border-bottom: 1px solid #e9e9e9 !important;
}
#main-menu-authorities-mobile-content .nav-link, #main-menu-beneficiaries-mobile-content .nav-link {
  border-radius: 0;
  background: #F5F5F5;
  color: #3b3b3b;
  padding: .75rem 1.5rem;
  font-weight: 500;
}
.sub-menu-mobile-header, .sub-submenu-mobile-header {
  background: #F5F5F5;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.sub-submenu-data-mobile-header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4) !important;
}
.sub-submenu-authorities-mobile-header, .sub-submenu-beneficiaries-mobile-header {
  background: #F5F5F5;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4) !important;
}
.sub-menu-mobile-header a, .sub-submenu-mobile-header a {
  padding-top: 1.305rem;
  padding-bottom: 1.305rem;
  text-decoration: none;
  color: #3b3b3b;
  font-weight: 700;
}
.sub-menu-mobile-content {
  background: #2a2a2a;
  margin-top: 5rem;
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 5rem);
}
.sub-submenu-data-mobile-header, .sub-submenu-authority-mobile-header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4) !important;
}
.sub-submenu-authority-mobile-content {
  background: #F5F5F5;
  margin-top: 5rem;
  height: calc(100vh - 9.875rem);
}
.sub-submenu-authority-mobile-content ul {
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 9.875rem);
}
.sub-submenu-data-mobile-content {
  margin-top: 5rem;
  height: calc(100vh - 9.875rem);
}
.sub-submenu-data-mobile-content ul {
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 9.875rem);
}
.sub-submenu-authority-mobile-content .nav-item {
  border-bottom: 1px solid #e9e9e9;
}
.sub-submenu-data-mobile-content .nav-item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4) !important;
}
.sub-submenu-authority-mobile-content .nav-link {
  border-radius: 0;
  background: #F5F5F5;
  color: #3b3b3b;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
}
.sub-submenu-data-mobile-content .nav-link {
  border-radius: 0;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
}
#main-menu-search-mobile a {
  color: #606060;
}


/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}


/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}



/* Footer */
.blog-footer {
  padding: 2rem 0 1.25rem 0;
  background-color: #f9f9f9;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}


/* Authority, Data and Beneficiary page */
#authorities-content, #authorities-contact {
  border-top: 1px solid #e8e8e8;
  margin-top: 1px;
}
#authorities-contact {
  height:calc(100vh - 5rem);
}
#authorities-contact .row {
  height:calc(100vh - 5.5rem);
  overflow-x: hidden;
  overflow-y: auto;
}
.authority-link:link, .authority-link:visited {
  color: #232323;
  text-decoration: underline;
}
.authority-link:focus, .authority-link:hover, .authority-link:active {
  color: #454545;
}
#authorities-content-left-pane, #beneficiary-content-left-pane {
  height: calc(100vh - 5rem);
  background-color: #f5f5f5;
  font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
}
#data-content-left-pane {
  height: calc(100vh - 5rem);
}

#authorities-content-left-pane .card, #beneficiary-content-left-pane .card {
  border-radius: 0px;
  border: 0;
  border-top: 1px solid #e9e9e9;
}
#authorities-content-left-pane .card:last-child, #beneficiary-content-left-pane .card:last-child {
  border-bottom: 1px solid #e9e9e9;
}
#authorities-content-left-pane .card-header, #beneficiary-content-left-pane .card-header {
  border-radius: 0px;
  padding: 0 0 0 2.25rem;
  border-bottom: 0;
}
#authorities-content-left-pane .card-header h5, #beneficiary-content-left-pane .card-header h5 {
  background: #F5F5F5;
}
#authorities-content-left-pane .card-header a, #beneficiary-content-left-pane .card-header a {
  display: block;
  padding: 0.75rem 1rem;
  color: #3f3f3f;
  font-size: 0.875rem;
  font-weight: 500;
}
#authorities-content-left-pane .card-header a:after, #beneficiary-content-left-pane .card-header a:after {
  float: right !important;
  font-family: FontAwesome;
  content:"\f106";
}
#authorities-content-left-pane .card-header a.collapsed::after, #beneficiary-content-left-pane .card-header a.collapsed::after {
  float: right !important;
  font-family: FontAwesome;
  content:"\f107";
}
#authorities-content-left-pane .card-header a:hover, #beneficiary-content-left-pane .card-header a:hover {
  text-decoration: none;
}
#authorities-content-left-pane .card-body, #beneficiary-content-left-pane .card-body {
  padding: 0.75rem 0.75rem 0.75rem 2.25rem;
}
#authorities-content-left-pane .card-body a, #beneficiary-content-left-pane .card-body a {
  color: #FFF;
}
#data-content-right-pane .card.public .card-body:hover, #beneficiary-content-right-pane .card.public .card-body:hover, #authorities-content-right-pane .card.public .card-body:hover {
  box-shadow: 2px 7px 10px 0px #BBB;
}
#authorities-content-left-pane .nav-pills .nav-link, #beneficiary-content-left-pane .nav-pills .nav-link {
  border-radius: 0;
  border-bottom: 1px solid rgba(255,255,255,0.4);
}
#authorities-content-left-pane .nav-pills .nav-link:last-child, #beneficiary-content-left-pane .nav-pills .nav-link:last-child {
  border-bottom: 0;
}
#authorities-content-left-pane .nav-pills .nav-link.active, #beneficiary-content-left-pane .nav-pills .nav-link.active {
  font-weight:700;
  background:transparent;
}
#authorities-content-left-pane-title, #beneficiary-content-left-pane-title {
  height: 5rem;
  padding: 0 2.25rem;
  vertical-align: middle;
  font-weight: 400;
}
#data-content-left-pane-title {
  height: 5rem;
  padding: 0 2.25rem;
  vertical-align: middle;
  font-weight: 400;
  font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
  font-size: 1.125rem;
}
#data-nav, #data-nav-xs {
 font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
 height: calc(100vh - 10rem);
 overflow-y: auto;
 overflow-x: hidden;
 font-size: 0.875rem;
}
#data-nav .nav-link, #data-nav-xs .nav-link {
  padding: .625rem 1rem;
}
#authorities-content-left-pane #authority-accordion, #authorities-content-left-pane #authority-accordion-xs, #beneficiary-content-left-pane #beneficiary-accordion, #beneficiary-content-left-pane #beneficiary-accordion-xs {
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 10rem);
}
#authority-accordion-xs .nav-link, #authority-accordion .nav-link, #beneficiary-accordion-xs .nav-link, #beneficiary-accordion .nav-link {
  padding: .625rem 1rem .625rem 1rem;
}
#authorities-content-right-pane, #data-content-right-pane, #beneficiary-content-right-pane {
  background: #fff;
  height: calc(100vh - 5rem);
}
#authorities-content-right-pane .card, #data-content-right-pane .card, #beneficiary-content-right-pane .card {
  cursor: pointer;
  border-radius: 0;
  margin-bottom: 1.125rem;
  border: 1px solid rgba(0,0,0,0.125);
}
#authorities-content-right-pane .card.private, #data-content-right-pane .card.private, #beneficiary-content-right-pane .card.private {
  cursor: initial;
}
.authorities-content-right-pane-title, .data-content-right-pane-title, .beneficiary-content-right-pane-title {
  height: 5rem;
  padding: 0 2.25rem;
  vertical-align: middle;
  font-weight: 400;
}
.authorities-content-right-pane-title span, .data-content-right-pane-title span, .beneficiary-content-right-pane-title span {
  font-weight: 500;
  font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
  font-size: 1.25rem;
}
.authorities-content-right-pane-title-xs, .data-content-right-pane-title-xs, .beneficiary-content-right-pane-title-xs {
  height: 5rem;
  padding: 0;
  vertical-align: middle;
  font-weight: 400;
}
.authorities-content-right-pane-title-xs a, .data-content-right-pane-title-xs a, .beneficiary-content-right-pane-title-xs a {
  font-weight: 400;
  color: #4a4a4a;
  text-decoration: none;
}
#authorities-content-right-pane .card-columns, #data-content-right-pane .card-columns, #beneficiary-content-right-pane .card-columns {
  padding: 0 2.25rem;
}
#authorities-content-right-pane .card-columns-container, #data-content-right-pane .card-columns-container, #beneficiary-content-right-pane .card-columns-container {
  height: calc(100vh - 10rem);
  max-height: calc(100vh - 10rem);
  overflow-y: auto;
  overflow-x: hidden;
}
#authorities-content-right-pane .card-title i.public:before, #data-content-right-pane .card-title i.public:before, #beneficiary-content-right-pane .card-title i.public:before {
  font-family: FontAwesome;
  content:"\f00e";
}
#authorities-content-right-pane .card-title, #data-content-right-pane .card-title, #beneficiary-content-right-pane .card-title {
  color: #282828;
}
#authorities-content-right-pane .private .card-title, #data-content-right-pane .private .card-title, #beneficiary-content-right-pane .private .card-title {
  color: #aaaaaa;
}
#authorities-content-right-pane .card-text, #data-content-right-pane .card-text, #beneficiary-content-right-pane .card-text {
  color: #8b8b8b;
}
#authorities-content-right-pane small, #data-content-right-pane small, #beneficiary-content-right-pane small {
  color: #424242;
}
#authorities-content-right-pane .objective-title, #data-content-right-pane .objective-title, #beneficiary-content-right-pane .objective-title {
  color: #8b8b8b;
}
#authorities-content-right-pane i.private:before, #data-content-right-pane i.private:before, #beneficiary-content-right-pane i.private:before {
  font-family: FontAwesome;
  content:"\f023";
}
.authority-intro-section-xs:first-child, .data-intro-section-xs:first-child, .beneficiary-intro-section-xs:first-child {
  margin-top: 5rem;
}
.authority-intro-section-xs, .data-intro-section-xs, .beneficiary-intro-section-xs {
  height: calc(25vh - 1.25rem);
}

#authority-prd-modal .nav-tabs .nav-link, #data-prd-modal .nav-tabs .nav-link, #beneficiary-prd-modal .nav-tabs .nav-link {
  border-radius: 0;
  background-color: #e8e8e8;
  color: #2b2b2b;
  font-weight: 500;
  font-size: 0.75rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
#authority-prd-modal .nav-tabs .nav-link.active, #data-prd-modal .nav-tabs .nav-link.active, #beneficiary-prd-modal .nav-tabs .nav-link.active {
  background-color: #fff;
}
#authority-prd-modal .data-category, #data-prd-modal .data-category, #beneficiary-prd-modal .data-category, #authority-prd-modal .beneficiary, #data-prd-modal .beneficiary, #beneficiary-prd-modal .beneficiary {
  font-weight: 300;
  font-size: 0.875rem;
  color: #2da2c5;
}
#authority-prd-modal li, #data-prd-modal li, #beneficiary-prd-modal li {
  font-size: 0.875rem;
}
#authority-prd-modal .data-category-theme, #data-prd-modal .data-category-theme, #beneficiary-prd-modal .data-category-theme {
  font-weight: 500;
}
#authority-prd-modal .tab-content, #data-prd-modal .tab-content, #beneficiary-prd-modal .tab-content {
  padding: 15px;
}
#authority-prd-modal .tab-content h6, #data-prd-modal .tab-content h6, #beneficiary-prd-modal .tab-content h6 {
  color: #484848;
  font-size: 1rem;
  font-weight: 300;
  padding-top: 15px;
}
#authority-prd-modal .tab-content h6 i, #data-prd-modal .tab-content h6 i, #beneficiary-prd-modal .tab-content h6 i {
  font-size: 1.125rem;
}
#authority-prd-modal .authority-name, #data-prd-modal .authority-name, #beneficiary-prd-modal .authority-name {
  font-weight: 500;
  color: #2da2c5;
  font-size: 0.875rem;
}
#data-content-left-pane .nav-link {
  background-color: #f5f5f5;
  border-radius: 0;
  color: #373737;
  font-weight: 300;
  border-bottom: 1px solid #e9e9e9;
  padding-left: 2.25rem;
  padding-right: 2.25rem;
  width: 100%;
}
#data-content-left-pane .nav-link:last-child {
  border-bottom: 0;
}
#data-content-left-pane .nav-link.active {
  font-weight: 500;
}

/* Homepage */
#homepage-introduction {
  height: calc(100vh - 5rem);
  margin-top: 5rem;
  background-color: #50c2d0;
}
#homepage-introduction p {
  color: #3d3d3d;
}
.homepage-search-text {
  color: #3499a5;
  font-weight: 500;
}
#homepage-data {
  height: calc(100vh - 5rem);
}
#homepage-data-number {
  background-color: #53c3d1;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  font-size: 50px;
  color: #fff;
  line-height: 150px;
  text-align: center;
  margin: 0 auto;
  font-weight: 500;
}
#homepage-data-registered {
  font-weight: 300;
  color: #000;
}
#homepage-data-categories {
  height: calc(100vh - 5rem);
}
#homepage-data-categories-carousel .carousel-item {
  height: calc(100vh - 5rem);
}
#homepage-data-categories-carousel .carousel-item .carousel-title {
  height: calc(40vh - 1.66rem);
}
#homepage-data-categories-carousel .carousel-item .data-categories {
  height: calc(56vh - 1.66rem);
  overflow-y: auto;
  overflow-x: hidden;
  width: 80%;
  column-fill: balance;
  padding: 2vh 0;
  margin: 0 auto;
}
#homepage-data-categories-carousel .carousel-item .data-categories p {
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  display: inline-block;
  width: 100%;
  padding: 0.625rem 1.5rem;
}
#homepage-data-categories-carousel .carousel-item .data-categories a {
  color: #fff;
}
#homepage-data-categories-carousel .carousel-item .data-categories a:hover {
  color: #eee;
  text-decoration: none;
}
#homepage-data-categories-carousel .carousel-control-prev {
  justify-content: flex-start; 
  width: 10%;
  opacity: 1;
}
#homepage-data-categories-carousel .carousel-control-next {
  justify-content: flex-end;
  width: 10%;
  opacity: 1;
  text-align: right;
}
#homepage-data-categories-carousel i, #homepage-data-categories-carousel i {
  margin-bottom: 4px;
}
#homepage-authorities {
  height: calc(100vh - 5rem);
  background-color: #e6e6e6;
}
#homepage-authorities .card {
  border-radius: 0;
  border: 0;
  padding: 15px;
}
#homepage-authorities .card-img-top {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#homepage-authorities .card-body {
  padding: 0;
}
#homepage-authorities-title {
  height: calc(30vh - 2.5rem);
}
#homepage-authorities-list {
  height: calc(70vh - 2.5rem);
  overflow-y: auto;
  overflow-x: hidden;
}
#homepage-authorities-picklist-container {
  position: relative;
  height: 47.5px;
  background: white;
  box-shadow: 0 3px 0 rgba(0,0,0,.05);
}
#homepage-authorities-picklist-container:after {
  content: '';
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  right: 10px;
  bottom: 0;
  margin: auto;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #232323 transparent transparent transparent;
  pointer-events: none;
}
#homepage-authorities-picklist-container:before {
  width: 30px;
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  background: #FFF;
  content: '';
  pointer-events: none;
}
  
#homepage-authorities-picklist-container:hover:before {
  background: #FFF;
}

#homepage-authorities-picklist-container select {
  font-size: 14px;
  border: none;
  box-shadow: none;
  border-radius: 0;
  background: transparent;
  height: 100%;
  width: 100%;
  cursor: pointer;
  outline: none;
  padding-right: 35px;
  padding-left: 15px;

  /*Disable default styling on ff*/
  -moz-appearance: none;
  -webkit-appearance: none;

}
#homepage-authorities-picklist-container select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

#homepage-authorities-picklist-container select:-ms-expand {
  display: none;
}

#homepage-graph .row {
  height: calc(100vh - 5rem);
  overflow-y: auto;
  overflow-x: hidden;
}

/* About Page */
#about-introduction-title {
  margin-top: 5rem;
  height: calc(50vh - 2.5rem);
}
#about-introduction-title .row {
  height: calc(50vh - 2.5rem);
}
#about-introduction-cta {
  height: calc(50vh - 2.5rem);
  background-color: #50c2d0;
}
#about-introduction-cta .row {
  height: calc(50vh - 2.5rem);
}
#about-gpdr {
  height: calc(100vh - 5rem);
}
#about-gpdr h5, #about-public h5, #about-dpo h5, #about-rights h5 {
  font-family: 'Roboto', Georgia, "Times New Roman", Times, sans-serif;
}
#about-gpdr a:link, #about-public a:link, #about-contact a:link, #about-dpo a:link, #about-gpdr a:visited, #about-public a:visited, #about-contact a:visited, #about-dpo a:visited {
  color: #50c2d0;
}
#about-gpdr a:focus, #about-public a:focus, #about-contact a:focus, #about-dpo a:focus, #about-gpdr a:hover, #about-public a:hover, #about-contact a:hover, #about-dpo a:hover, #about-gpdr a:active, #about-public a:active, #about-contact a:active, #about-dpo a:active {
  color: #57cddb;
  text-decoration: underline;
}
#about-introduction-cta a:link, #about-introduction-cta a:visited, #about-rights a:link, #about-rights a:visited {
  color: #FFF;
  text-decoration: underline;
}
#about-introduction-cta a:focus, #about-introduction-cta a:hover, #about-introduction-cta a:active #about-rights a:focus, #about-rights a:hover, #about-rights a:active {
  text-decoration: underline;
}
#about-rights {
  background-color: #50c2d0;
}
#about-rights .row {
  height: calc(100vh - 5rem);
}
#about-rights-title {
  height:calc(35vh - 1.66rem);
}
#about-rights-carousel {
  height:calc(55vh - 1.68rem);
}
#about-rights-carousel .carousel-indicators {
  list-style: none;
}
#about-rights-carousel .carousel-indicators li {
  cursor: pointer;
  height: 35px;
  max-width: 35px;
}
#about-rights-carousel .carousel-indicators li, .carousel-indicators li.active{
  position: relative;
  margin: 10px;
  background: transparent;
}
#about-rights-carousel .carousel-indicators li.active img {
  opacity: 1;
}
#about-rights-carousel .carousel-indicators img {
  position: absolute;
  height: 35px;
  max-width: 35px;
  top: 0;
  left: 0;
  opacity: 0.3;
}
#about-rights-carousel .carousel-indicators .active img {
  opacity: 1;
}
#about-rights-bottom {
  height:calc(10vh - 1.66rem);
}
#about-public .row {
  height: calc(100vh - 5rem);
}
#about-dpo {
  background-color: #e5f6f8;
}
#about-dpo .row {
  height: calc(100vh - 5rem);
}
#about-contact .row {
  height: calc(100vh - 5rem);
}
/* Privacy statement page */
#privacy-introduction {
  margin-top: 5rem;
}
#privacy-introduction .row {
  height: calc(100vh - 5rem);
}

/* Disclaimer page */
#disclaimer-introduction {
  margin-top: 5rem;
}
#disclaimer-introduction .row {
  height: calc(100vh - 5rem);
}

/* Page sections */
.page-section:first-child {
  margin-top: 5rem;
}
.page-section {
  height: calc(100vh - 5rem);
}
.page-section.about-introduction {
  background: #41b4e3;
}
.page-section.about-categories {
  background: #FFF;
}

.page-section-title {
  height: calc(50vh - 2.5rem);
  margin-top: 5rem;
  border-bottom: 1px solid #FFF;
}
.page-section-title h1 {
  margin-bottom: 0;
  text-align: center;
  font-weight: 700;
}
.page-section-figures {
  height: calc(50vh - 2.5rem);
}
.page-section-figures h2 {
  font-size: 3.75rem;
  font-weight: 700;
}
.page-section-figures p {
  color: #a3a3a3;
}

.data-page-section-intro {
  height: calc(100vh - 5rem);
  margin-top: 5rem;
  /*border-bottom: 1px solid #FFF;*/
}
.data-page-title {
  height: calc(50vh - 2.5rem);
}
.data-page-title h1, .data-page-title-xs h1 {
  margin-bottom: 0;
  text-align: center;
  font-weight: 700;
}
.data-page-figures {
  height: calc(50vh - 2.5rem);
}
.data-page-figures h2 {
  font-size: 3.75rem;
  font-weight: 700;
}
.data-page-figures p {
  color: #a3a3a3;
}

.data-page-title-xs {
  height: calc(50vh - 2.5rem);
}
.data-page-description-xs {
  height: calc(50vh - 2.5rem);
}
.data-page-description-xs h2, .page-intro-figures-xs h2 {
  font-size: 3rem;
  font-weight: 700;
}

.form-control {
  border-radius: 0;
  border: 1px solid #b0b0b0;
}
.form-control.valid {
  border-color: #28a745;
}
.form-control.invalid {
  border-color: #dc3545;
}
.invalid-field-feedback {
    margin-top: .5rem;
    font-size: .875rem;
    color: #dc3545;
    font-weight: 300;
}

/* Footer */
.blog-footer {
  background-color: #373737;
}
.footer-category-title {
  color: rgba(255,255,255, 0.3);
}
.footer-links a:link, .footer-links a:visited {
  color: #fff;
}
.footer-links a:focus, .footer-links a:hover, .footer-links a:active {
  color: #ddd;
}
.blog-footer .list-group-item {
  border-radius: 0;
  padding: 0;
  margin-bottom: -1px;
  background-color: transparent;
  border: 0;
}
.blog-footer .footer-copyright {
  color: rgba(255,255,255, 0.5);
}

.card-footer {
    padding: 0;
    background-color: #FFF;
    border-top: 0;
}
/* EOF Footer */

.tooltip {
  opacity: 0.5;
}


/* Buttons */
.btn {
  border-radius: 0;
  cursor: pointer;
  font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  padding: .535rem 1.5rem;
}
.btn-light {
  color: #2f2f2f;
  background-color: #e8e8e8;
  border-color: #e8e8e8;
}
.btn-light:hover {
  color: #2f2f2f;
  background-color: #eeeded;
  border-color: #eeeded;
}
.btn-light.focus, .btn-light:focus {
    box-shadow: none;
}
.btn-light:not([disabled]):not(.disabled).active, .btn-light:not([disabled]):not(.disabled):active, .show>.btn-light.dropdown-toggle {
    color: #2f2f2f;
    background-color: #e8e8e8;
    border-color: #e8e8e8;
    box-shadow: none;
}
.btn-outline-light {
  color: #3a3a3a;
  background-color: #fff;
  border-color: #b0b0b0;
}
.btn-outline-light:hover {
  color: #3a3a3a;
  background-color: #e2e6ea;
  border-color: #e2e6ea;
}
.btn-primary {
  color: #fff;
  background-color: #3499a5;
  border-color: #3499a5;
}
.btn-primary.focus, .btn-primary:focus {
  box-shadow: none;
}
.btn-primary:hover {
  color: #fff;
  background-color: #3badbb;
  border-color: #3badbb;
}
.btn-primary:not([disabled]):not(.disabled).active, .btn-primary:not([disabled]):not(.disabled):active {
  color: #fff;
  background-color: #3badbb;
  border-color: #3badbb;
  box-shadow: none;
}
.btn-secondary {
  color: #fff;
  background-color: #50c2d0;
  border-color: #50c2d0;
}
.btn-secondary.focus, .btn-secondary:focus {
  box-shadow: none;
}
.btn-secondary:hover {
  color: #fff;
  background-color: #57cddb;
  border-color: #57cddb;
}
.btn-secondary:not([disabled]):not(.disabled).active, .btn-secondary:not([disabled]):not(.disabled):active {
  color: #fff;
  background-color: #5bdfef;
  border-color: #5bdfef;
  box-shadow: none;
}
/* EOF Buttons */


.small, small {
  font-size: 80%;
  font-weight: 300;
}

/* Modal */
.modal-header {
  border-bottom: 0;
}
.modal-content {
    border-radius: 0;
}
.modal-body {
    padding: 0 15px 15px 15px;
}
.modal-subtitle {
  color: #8b8b8b;
  font-weight: 300;
  font-size: 0.875rem;
}
.modal-subtitle .objective {
  color: #8b8b8b;

}
.modal-subtitle .post-objective {
  color: #424242;

}
.close {
  cursor: pointer;
}

/* EOF Modal */

/* placeholders of input fields */
/* Chrome/Opera/Safari */
::-webkit-input-placeholder {
    font-family: 'Roboto', Georgia, "Times New Roman", Times, sans-serif;
    font-size: 0.938rem;
    font-weight: 300;
    color: #b5b5b5;
}
/* Firefox 19+ */
::-moz-placeholder { 
    font-family: 'Roboto', Georgia, "Times New Roman", Times, sans-serif;
    font-size: 0.938rem;
    font-weight: 300;
    color: #b5b5b5;
}
/* IE 10+ */
:-ms-input-placeholder { 
    font-family: 'Roboto', Georgia, "Times New Roman", Times, sans-serif;
    font-size: 0.938rem;
    font-weight: 300;
    color: #b5b5b5;
}
/* Firefox 18- */
:-moz-placeholder { 
    font-family: 'Roboto', Georgia, "Times New Roman", Times, sans-serif;
    font-size: 0.938rem;
    font-weight: 300;
    color: #b5b5b5;
}

/* Extra small devices (portrait phones, less than 576px)*/
/* No media query since this is the default in Bootstrap*/
body {
  font-size: 0.875rem;
}
.h1, h1 {
  font-size: 1.75rem;
}
.h2, h2 {
  font-size: 1.5rem;
}
.h3, h3 {
  font-size: 1.25rem;
}
.h4, h4 {
  font-size: 1rem;
}
.h5, h5 {
  font-size: 0.9375rem;
}
.h6, h6 {
  font-size: 0.875rem;
}

.btn {
  min-width: 320px;
}

#data-modal-countries .nav-link, #authority-modal-countries .nav-link, #beneficiary-modal-countries .nav-link {
  padding-right: .5rem;
  padding-left: .5rem;
}
.data-category-image {
  background-size:150% !important;
}

/*IE 9 only */
@media all and (min-width:0\0) and (min-resolution:.001dpcm) {

  #homepage-authorities-picklist-container {
    select {
      padding-right: 0;
    }

    &:after, &:before {
      display: none;
    }
  }

}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
  .btn {
    min-width: initial;
  }
  #data-modal-countries .nav-link, #authority-modal-countries .nav-link, #beneficiary-modal-countries .nav-link {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
  }
  #homepage-graph .row {
    height: calc(100vh - 5rem);
    overflow-y: visible;
  }
  .data-category-image {
    background-size:100% !important;
  }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
  .card-columns, #homepage-data-categories-carousel .carousel-item .data-categories {
    column-count: 1;
  }
  .h1, h1 {
    font-size: 2rem;
  }
  .h2, h2 {
    font-size: 1.75rem;
  }
  .h3, h3 {
    font-size: 1.5rem;
  }
  .h4, h4 {
    font-size: 1.25rem;
  }
  .h5, h5 {
    font-size: 1rem;
  }
  .h6, h6 {
    font-size: 0.9375rem;
  }
  #data-modal-countries .nav-link, #authority-modal-countries .nav-link, #beneficiary-modal-countries .nav-link {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }
  .data-category-image {
    background-size:90% !important;
  }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
  #main-menu .categories-list, #main-menu .categories-list-dark, #homepage-data-categories-carousel .carousel-item .data-categories {
    column-count: 2;
    -webkit-column-gap: 3rem; /* Chrome, Safari, Opera */
    -moz-column-gap: 3rem; /* Firefox */
    column-gap: 3rem;
  }
  .card-columns {
    column-count: 2;
  }
  .modal-lg {
      max-width: 900px;
  }
  body {
    font-size: 0.9375rem;
  }
  .h1, h1 {
    font-size: 2.5rem;
  }
  .h2, h2 {
    font-size: 2rem;
  }
  .h3, h3 {
    font-size: 1.75rem;
  }
  .h4, h4 {
    font-size: 1.5rem;
  }
  .h5, h5 {
    font-size: 1.25rem;
  }
  .h6, h6 {
    font-size: 1rem;
  }
  #data-modal-countries .nav-link, #authority-modal-countries .nav-link, #beneficiary-modal-countries .nav-link {
    padding-left: 2.5rem !important;
    padding-right: 2.5rem !important;
  }
  .data-category-image {
    background-size:75% !important;
  }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
  #main-menu .categories-list, #main-menu .categories-list-dark, #homepage-data-categories-carousel .carousel-item .data-categories {
    column-count: 3;
    -webkit-column-gap: 3rem; /* Chrome, Safari, Opera */
    -moz-column-gap: 3rem; /* Firefox */
    column-gap: 3rem;
  }
  .card-columns {
    column-count: 3;
  }
  .modal-lg {
      max-width: 1100px;
  }
  #data-modal-countries .nav-link, #authority-modal-countries .nav-link, #beneficiary-modal-countries .nav-link {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
  }
  .data-category-image {
    background-size:60% !important;
  }
}