/* HALO - BEGIN */

.vz-halo-link-node {
    shape-rendering: auto;
    fill-opacity: .075;
}

.vz-halo-link-path {
    fill : #AAA;
    stroke: #FFF;
    stroke-opacity:0;
    fill-opacity: 0.075;
    shape-rendering: auto;
}

.vz-halo-arc-slice {
    shape-rendering:auto;
    fill:#AAA;
}

.vz-halo-arc {
    shape-rendering:auto;
    fill-opacity: .01;
}

.vz-halo-arc-slice {
    shape-rendering:auto;
    fill-opacity: .45;
}

.vz-halo-node {
    shape-rendering:auto;
    fill:#AAA;
    fill-opacity: .3;
    stroke-opacity:.15;
}

.vz-halo-label {
    font-family: 'Roboto', Georgia, "Times New Roman", Times, sans-serif;
    font-weight: 300;
    min-width: 100%;
    max-width: 200px;
    z-index: 10000000000000001;
}

.vz-halo-label rect {
    fill:#000;
}
/* HALO - END */