<div class='progress-msg'>Tue, 24 Oct 2017 12:23:43 +0000</div>
<div class="progress-msg">[12:23:43] Composing titles...</div>
<div class="progress-msg">[12:23:43] Composing excerpts...</div>
<div class="progress-msg">[12:23:43] Composing duplicate indicators...</div>
<div class="progress-msg">[12:23:43] Composing authors...</div>
<div class="progress-msg">[12:23:43] Composing slugs...</div>
<div class="progress-msg">[12:23:43] Composing menu order...</div>
<div class="progress-msg">[12:23:43] Composing contents...</div>
<div class="progress-msg">[12:23:43] Composing dates...</div>
<div class="progress-msg">[12:23:43] Composing custom parameters...</div>
<div class="progress-msg">[12:23:43] Composing URLs for images...</div>
<div class="progress-msg">[12:23:43] Composing URLs for attachments files...</div>
<div class="progress-msg">[12:23:43] Composing unique keys...</div>
<div class="progress-msg">[12:23:43] Processing posts...</div>
<div class="progress-msg">[12:23:43] Data parsing via add-ons...</div>
<div class="progress-msg">[12:23:43] Composing advanced custom fields...</div>
<div class="progress-msg">[12:23:43] ---</div>
<div class="progress-msg">[12:23:43] Record #1</div>
<div class="progress-msg">[12:23:43] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[12:23:43] Combine all data for post `de betrokkene heeft toestemming gegeven voor de verwerking van zijn persoonsgegevens voor een of meer specifieke doeleinden; / La personne concernée a indubitablement donné son consentement ;`...</div>
<div class="progress-msg">[12:23:43] Find corresponding article among previously imported for post `de betrokkene heeft toestemming gegeven voor de verwerking van zijn persoonsgegevens voor een of meer specifieke doeleinden; / La personne concernée a indubitablement donné son consentement ;`...</div>
<div class="progress-msg">[12:23:43] Duplicate post wasn't found with unique key `de betrokkene heeft toestemming gegeven voor de verwerking van zijn persoonsgegevens voor een of meer specifieke doeleinden; / La personne concernée a indubitablement donné son consentement ;`...</div>
<div class="progress-msg">[12:23:43] Applying filter `pmxi_article_data` for `de betrokkene heeft toestemming gegeven voor de verwerking van zijn persoonsgegevens voor een of meer specifieke doeleinden; / La personne concernée a indubitablement donné son consentement ;`</div>
<div class="progress-msg">[12:23:43] <b>CREATING</b> `de betrokkene heeft toestemming gegeven voor de verwerking van zijn persoonsgegevens voor een of meer specifieke doeleinden; / La personne concernée a indubitablement donné son consentement ;` `Processing base`</div>
<div class="progress-msg">[12:23:43] Associate post `de betrokkene heeft toestemming gegeven voor de verwerking van zijn persoonsgegevens voor een of meer specifieke doeleinden; / La personne concernée a indubitablement donné son consentement ;` with current import ...</div>
<div class="progress-msg">[12:23:43] <strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">[12:23:43] - Importing field `processing_base_name_nl`</div>
<div class="progress-msg">[12:23:43] - Field `processing_base_name_nl` updated with value `de betrokkene heeft toestemming gegeven voor de verwerking van zijn persoonsgegevens voor een of meer specifieke doeleinden;`</div>
<div class="progress-msg">[12:23:43] - Importing field `processing_base_name_fr`</div>
<div class="progress-msg">[12:23:43] - Field `processing_base_name_fr` updated with value `La personne concernée a indubitablement donné son consentement ;`</div>
<div class="progress-msg">[12:23:43] <b>CREATED</b> `de betrokkene heeft toestemming gegeven voor de verwerking van zijn persoonsgegevens voor een of meer specifieke doeleinden; / La personne concernée a indubitablement donné son consentement ;` `Processing base` (ID: 2147)</div>
<div class="progress-msg">[12:23:43] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[12:23:43] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[12:23:43] ---</div>
<div class="progress-msg">[12:23:43] Record #2</div>
<div class="progress-msg">[12:23:43] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[12:23:43] Combine all data for post `de verwerking is noodzakelijk voor de uitvoering van een overeenkomst waarbij de betrokkene partij is, of om op verzoek van de betrokkene vóór de sluiting van een overeenkomst maatregelen te nemen; / Le traitement est nécessaire à l'exécution d'un contrat auquel la personne concernée est partie ou à l'exécution de mesures précontractuelles prises à la demande de celle-ci ;`...</div>
<div class="progress-msg">[12:23:43] Find corresponding article among previously imported for post `de verwerking is noodzakelijk voor de uitvoering van een overeenkomst waarbij de betrokkene partij is, of om op verzoek van de betrokkene vóór de sluiting van een overeenkomst maatregelen te nemen; / Le traitement est nécessaire à l'exécution d'un contrat auquel la personne concernée est partie ou à l'exécution de mesures précontractuelles prises à la demande de celle-ci ;`...</div>
<div class="progress-msg">[12:23:43] Duplicate post wasn't found with unique key `de verwerking is noodzakelijk voor de uitvoering van een overeenkomst waarbij de betrokkene partij is, of om op verzoek van de betrokkene vóór de sluiting van een overeenkomst maatregelen te nemen; / Le traitement est nécessaire à l'exécution d'un contrat auquel la personne concernée est partie ou à l'exécution de mesures précontractuelles prises à la demande de celle-ci ;`...</div>
<div class="progress-msg">[12:23:43] Applying filter `pmxi_article_data` for `de verwerking is noodzakelijk voor de uitvoering van een overeenkomst waarbij de betrokkene partij is, of om op verzoek van de betrokkene vóór de sluiting van een overeenkomst maatregelen te nemen; / Le traitement est nécessaire à l'exécution d'un contrat auquel la personne concernée est partie ou à l'exécution de mesures précontractuelles prises à la demande de celle-ci ;`</div>
<div class="progress-msg">[12:23:43] <b>CREATING</b> `de verwerking is noodzakelijk voor de uitvoering van een overeenkomst waarbij de betrokkene partij is, of om op verzoek van de betrokkene vóór de sluiting van een overeenkomst maatregelen te nemen; / Le traitement est nécessaire à l'exécution d'un contrat auquel la personne concernée est partie ou à l'exécution de mesures précontractuelles prises à la demande de celle-ci ;` `Processing base`</div>
<div class="progress-msg">[12:23:43] Associate post `de verwerking is noodzakelijk voor de uitvoering van een overeenkomst waarbij de betrokkene partij is, of om op verzoek van de betrokkene vóór de sluiting van een overeenkomst maatregelen te nemen; / Le traitement est nécessaire à l'exécution d'un contrat auquel la personne concernée est partie ou à l'exécution de mesures précontractuelles prises à la demande de celle-ci ;` with current import ...</div>
<div class="progress-msg">[12:23:43] <strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">[12:23:43] - Importing field `processing_base_name_nl`</div>
<div class="progress-msg">[12:23:43] - Field `processing_base_name_nl` updated with value `de verwerking is noodzakelijk voor de uitvoering van een overeenkomst waarbij de betrokkene partij is, of om op verzoek van de betrokkene vóór de sluiting van een overeenkomst maatregelen te nemen;`</div>
<div class="progress-msg">[12:23:43] - Importing field `processing_base_name_fr`</div>
<div class="progress-msg">[12:23:43] - Field `processing_base_name_fr` updated with value `Le traitement est nécessaire à l&#039;exécution d&#039;un contrat auquel la personne concernée est partie ou à l&#039;exécution de mesures précontractuelles prises à la demande de celle-ci ;`</div>
<div class="progress-msg">[12:23:43] <b>CREATED</b> `de verwerking is noodzakelijk voor de uitvoering van een overeenkomst waarbij de betrokkene partij is, of om op verzoek van de betrokkene vóór de sluiting van een overeenkomst maatregelen te nemen; / Le traitement est nécessaire à l'exécution d'un contrat auquel la personne concernée est partie ou à l'exécution de mesures précontractuelles prises à la demande de celle-ci ;` `Processing base` (ID: 2148)</div>
<div class="progress-msg">[12:23:43] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[12:23:43] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[12:23:43] ---</div>
<div class="progress-msg">[12:23:43] Record #3</div>
<div class="progress-msg">[12:23:43] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[12:23:43] Combine all data for post `de verwerking is noodzakelijk om te voldoen aan een wettelijke verplichting die op de verwerkingsverantwoordelijke rust; / Le traitement est nécessaire au respect d'une obligation à laquelle le responsable du traitement est soumis par ou en vertu d'une loi, d'un décret ou d'une ordonnance ;`...</div>
<div class="progress-msg">[12:23:43] Find corresponding article among previously imported for post `de verwerking is noodzakelijk om te voldoen aan een wettelijke verplichting die op de verwerkingsverantwoordelijke rust; / Le traitement est nécessaire au respect d'une obligation à laquelle le responsable du traitement est soumis par ou en vertu d'une loi, d'un décret ou d'une ordonnance ;`...</div>
<div class="progress-msg">[12:23:43] Duplicate post wasn't found with unique key `de verwerking is noodzakelijk om te voldoen aan een wettelijke verplichting die op de verwerkingsverantwoordelijke rust; / Le traitement est nécessaire au respect d'une obligation à laquelle le responsable du traitement est soumis par ou en vertu d'une loi, d'un décret ou d'une ordonnance ;`...</div>
<div class="progress-msg">[12:23:43] Applying filter `pmxi_article_data` for `de verwerking is noodzakelijk om te voldoen aan een wettelijke verplichting die op de verwerkingsverantwoordelijke rust; / Le traitement est nécessaire au respect d'une obligation à laquelle le responsable du traitement est soumis par ou en vertu d'une loi, d'un décret ou d'une ordonnance ;`</div>
<div class="progress-msg">[12:23:43] <b>CREATING</b> `de verwerking is noodzakelijk om te voldoen aan een wettelijke verplichting die op de verwerkingsverantwoordelijke rust; / Le traitement est nécessaire au respect d'une obligation à laquelle le responsable du traitement est soumis par ou en vertu d'une loi, d'un décret ou d'une ordonnance ;` `Processing base`</div>
<div class="progress-msg">[12:23:43] Associate post `de verwerking is noodzakelijk om te voldoen aan een wettelijke verplichting die op de verwerkingsverantwoordelijke rust; / Le traitement est nécessaire au respect d'une obligation à laquelle le responsable du traitement est soumis par ou en vertu d'une loi, d'un décret ou d'une ordonnance ;` with current import ...</div>
<div class="progress-msg">[12:23:43] <strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">[12:23:43] - Importing field `processing_base_name_nl`</div>
<div class="progress-msg">[12:23:43] - Field `processing_base_name_nl` updated with value `de verwerking is noodzakelijk om te voldoen aan een wettelijke verplichting die op de verwerkingsverantwoordelijke rust;`</div>
<div class="progress-msg">[12:23:43] - Importing field `processing_base_name_fr`</div>
<div class="progress-msg">[12:23:43] - Field `processing_base_name_fr` updated with value `Le traitement est nécessaire au respect d&#039;une obligation à laquelle le responsable du traitement est soumis par ou en vertu d&#039;une loi, d&#039;un décret ou d&#039;une ordonnance ;`</div>
<div class="progress-msg">[12:23:43] <b>CREATED</b> `de verwerking is noodzakelijk om te voldoen aan een wettelijke verplichting die op de verwerkingsverantwoordelijke rust; / Le traitement est nécessaire au respect d'une obligation à laquelle le responsable du traitement est soumis par ou en vertu d'une loi, d'un décret ou d'une ordonnance ;` `Processing base` (ID: 2149)</div>
<div class="progress-msg">[12:23:43] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[12:23:43] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[12:23:43] ---</div>
<div class="progress-msg">[12:23:43] Record #4</div>
<div class="progress-msg">[12:23:43] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[12:23:43] Combine all data for post `de verwerking is noodzakelijk om de vitale belangen van de betrokkene of van een andere natuurlijke persoon te beschermen; / Le traitement est nécessaire à la sauvegarde de l'intérêt vital de la personne concernée ;`...</div>
<div class="progress-msg">[12:23:43] Find corresponding article among previously imported for post `de verwerking is noodzakelijk om de vitale belangen van de betrokkene of van een andere natuurlijke persoon te beschermen; / Le traitement est nécessaire à la sauvegarde de l'intérêt vital de la personne concernée ;`...</div>
<div class="progress-msg">[12:23:43] Duplicate post wasn't found with unique key `de verwerking is noodzakelijk om de vitale belangen van de betrokkene of van een andere natuurlijke persoon te beschermen; / Le traitement est nécessaire à la sauvegarde de l'intérêt vital de la personne concernée ;`...</div>
<div class="progress-msg">[12:23:43] Applying filter `pmxi_article_data` for `de verwerking is noodzakelijk om de vitale belangen van de betrokkene of van een andere natuurlijke persoon te beschermen; / Le traitement est nécessaire à la sauvegarde de l'intérêt vital de la personne concernée ;`</div>
<div class="progress-msg">[12:23:43] <b>CREATING</b> `de verwerking is noodzakelijk om de vitale belangen van de betrokkene of van een andere natuurlijke persoon te beschermen; / Le traitement est nécessaire à la sauvegarde de l'intérêt vital de la personne concernée ;` `Processing base`</div>
<div class="progress-msg">[12:23:43] Associate post `de verwerking is noodzakelijk om de vitale belangen van de betrokkene of van een andere natuurlijke persoon te beschermen; / Le traitement est nécessaire à la sauvegarde de l'intérêt vital de la personne concernée ;` with current import ...</div>
<div class="progress-msg">[12:23:43] <strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">[12:23:43] - Importing field `processing_base_name_nl`</div>
<div class="progress-msg">[12:23:43] - Field `processing_base_name_nl` updated with value `de verwerking is noodzakelijk om de vitale belangen van de betrokkene of van een andere natuurlijke persoon te beschermen;`</div>
<div class="progress-msg">[12:23:43] - Importing field `processing_base_name_fr`</div>
<div class="progress-msg">[12:23:43] - Field `processing_base_name_fr` updated with value `Le traitement est nécessaire à la sauvegarde de l&#039;intérêt vital de la personne concernée ;`</div>
<div class="progress-msg">[12:23:43] <b>CREATED</b> `de verwerking is noodzakelijk om de vitale belangen van de betrokkene of van een andere natuurlijke persoon te beschermen; / Le traitement est nécessaire à la sauvegarde de l'intérêt vital de la personne concernée ;` `Processing base` (ID: 2150)</div>
<div class="progress-msg">[12:23:43] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[12:23:43] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[12:23:43] ---</div>
<div class="progress-msg">[12:23:43] Record #5</div>
<div class="progress-msg">[12:23:43] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[12:23:43] Combine all data for post `de verwerking is noodzakelijk voor de vervulling van een taak van algemeen belang of van een taak in het kader van de uitoefening van het openbaar gezag dat aan de verwerkingsverantwoordelijke is opgedragen; / Le traitement est nécessaire à l'exécution d'une mission d'intérêt public ou relevant de l'exercice de l'autorité publique, dont est investi le responsable du traitement ou le tiers auquel les données sont communiquées ;`...</div>
<div class="progress-msg">[12:23:43] Find corresponding article among previously imported for post `de verwerking is noodzakelijk voor de vervulling van een taak van algemeen belang of van een taak in het kader van de uitoefening van het openbaar gezag dat aan de verwerkingsverantwoordelijke is opgedragen; / Le traitement est nécessaire à l'exécution d'une mission d'intérêt public ou relevant de l'exercice de l'autorité publique, dont est investi le responsable du traitement ou le tiers auquel les données sont communiquées ;`...</div>
<div class="progress-msg">[12:23:43] Duplicate post wasn't found with unique key `de verwerking is noodzakelijk voor de vervulling van een taak van algemeen belang of van een taak in het kader van de uitoefening van het openbaar gezag dat aan de verwerkingsverantwoordelijke is opgedragen; / Le traitement est nécessaire à l'exécution d'une mission d'intérêt public ou relevant de l'exercice de l'autorité publique, dont est investi le responsable du traitement ou le tiers auquel les données sont communiquées ;`...</div>
<div class="progress-msg">[12:23:43] Applying filter `pmxi_article_data` for `de verwerking is noodzakelijk voor de vervulling van een taak van algemeen belang of van een taak in het kader van de uitoefening van het openbaar gezag dat aan de verwerkingsverantwoordelijke is opgedragen; / Le traitement est nécessaire à l'exécution d'une mission d'intérêt public ou relevant de l'exercice de l'autorité publique, dont est investi le responsable du traitement ou le tiers auquel les données sont communiquées ;`</div>
<div class="progress-msg">[12:23:43] <b>CREATING</b> `de verwerking is noodzakelijk voor de vervulling van een taak van algemeen belang of van een taak in het kader van de uitoefening van het openbaar gezag dat aan de verwerkingsverantwoordelijke is opgedragen; / Le traitement est nécessaire à l'exécution d'une mission d'intérêt public ou relevant de l'exercice de l'autorité publique, dont est investi le responsable du traitement ou le tiers auquel les données sont communiquées ;` `Processing base`</div>
<div class="progress-msg">[12:23:43] Associate post `de verwerking is noodzakelijk voor de vervulling van een taak van algemeen belang of van een taak in het kader van de uitoefening van het openbaar gezag dat aan de verwerkingsverantwoordelijke is opgedragen; / Le traitement est nécessaire à l'exécution d'une mission d'intérêt public ou relevant de l'exercice de l'autorité publique, dont est investi le responsable du traitement ou le tiers auquel les données sont communiquées ;` with current import ...</div>
<div class="progress-msg">[12:23:43] <strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">[12:23:43] - Importing field `processing_base_name_nl`</div>
<div class="progress-msg">[12:23:43] - Field `processing_base_name_nl` updated with value `de verwerking is noodzakelijk voor de vervulling van een taak van algemeen belang of van een taak in het kader van de uitoefening van het openbaar gezag dat aan de verwerkingsverantwoordelijke is opgedragen;`</div>
<div class="progress-msg">[12:23:43] - Importing field `processing_base_name_fr`</div>
<div class="progress-msg">[12:23:43] - Field `processing_base_name_fr` updated with value `Le traitement est nécessaire à l&#039;exécution d&#039;une mission d&#039;intérêt public ou relevant de l&#039;exercice de l&#039;autorité publique, dont est investi le responsable du traitement ou le tiers auquel les données sont communiquées ;`</div>
<div class="progress-msg">[12:23:43] <b>CREATED</b> `de verwerking is noodzakelijk voor de vervulling van een taak van algemeen belang of van een taak in het kader van de uitoefening van het openbaar gezag dat aan de verwerkingsverantwoordelijke is opgedragen; / Le traitement est nécessaire à l'exécution d'une mission d'intérêt public ou relevant de l'exercice de l'autorité publique, dont est investi le responsable du traitement ou le tiers auquel les données sont communiquées ;` `Processing base` (ID: 2151)</div>
<div class="progress-msg">[12:23:43] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[12:23:43] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[12:23:43] ---</div>
<div class="progress-msg">[12:23:43] Record #6</div>
<div class="progress-msg">[12:23:43] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[12:23:43] Combine all data for post `de verwerking is noodzakelijk voor de behartiging van de gerechtvaardigde belangen van de verwerkingsverantwoordelijke of van een derde, behalve wanneer de belangen of de grondrechten en de fundamentele vrijheden van de betrokkene die tot bescherming van persoonsgegevens nopen, zwaarder wegen dan die belangen, met name wanneer de betrokkene een kind is. / Le traitement est nécessaire à la réalisation de l'intérêt légitime poursuivi par le responsable du traitement ou par le tiers auquel les données sont communiquées, à condition que ne prévalent pas l'intérêt ou les droits et libertés fondamentaux de la personne concernée qui peut prétendre à une protection au titre de la présente loi.`...</div>
<div class="progress-msg">[12:23:43] Find corresponding article among previously imported for post `de verwerking is noodzakelijk voor de behartiging van de gerechtvaardigde belangen van de verwerkingsverantwoordelijke of van een derde, behalve wanneer de belangen of de grondrechten en de fundamentele vrijheden van de betrokkene die tot bescherming van persoonsgegevens nopen, zwaarder wegen dan die belangen, met name wanneer de betrokkene een kind is. / Le traitement est nécessaire à la réalisation de l'intérêt légitime poursuivi par le responsable du traitement ou par le tiers auquel les données sont communiquées, à condition que ne prévalent pas l'intérêt ou les droits et libertés fondamentaux de la personne concernée qui peut prétendre à une protection au titre de la présente loi.`...</div>
<div class="progress-msg">[12:23:43] Duplicate post wasn't found with unique key `de verwerking is noodzakelijk voor de behartiging van de gerechtvaardigde belangen van de verwerkingsverantwoordelijke of van een derde, behalve wanneer de belangen of de grondrechten en de fundamentele vrijheden van de betrokkene die tot bescherming van persoonsgegevens nopen, zwaarder wegen dan die belangen, met name wanneer de betrokkene een kind is. / Le traitement est nécessaire à la réalisation de l'intérêt légitime poursuivi par le responsable du traitement ou par le tiers auquel les données sont communiquées, à condition que ne prévalent pas l'intérêt ou les droits et libertés fondamentaux de la personne concernée qui peut prétendre à une protection au titre de la présente loi.`...</div>
<div class="progress-msg">[12:23:43] Applying filter `pmxi_article_data` for `de verwerking is noodzakelijk voor de behartiging van de gerechtvaardigde belangen van de verwerkingsverantwoordelijke of van een derde, behalve wanneer de belangen of de grondrechten en de fundamentele vrijheden van de betrokkene die tot bescherming van persoonsgegevens nopen, zwaarder wegen dan die belangen, met name wanneer de betrokkene een kind is. / Le traitement est nécessaire à la réalisation de l'intérêt légitime poursuivi par le responsable du traitement ou par le tiers auquel les données sont communiquées, à condition que ne prévalent pas l'intérêt ou les droits et libertés fondamentaux de la personne concernée qui peut prétendre à une protection au titre de la présente loi.`</div>
<div class="progress-msg">[12:23:43] <b>CREATING</b> `de verwerking is noodzakelijk voor de behartiging van de gerechtvaardigde belangen van de verwerkingsverantwoordelijke of van een derde, behalve wanneer de belangen of de grondrechten en de fundamentele vrijheden van de betrokkene die tot bescherming van persoonsgegevens nopen, zwaarder wegen dan die belangen, met name wanneer de betrokkene een kind is. / Le traitement est nécessaire à la réalisation de l'intérêt légitime poursuivi par le responsable du traitement ou par le tiers auquel les données sont communiquées, à condition que ne prévalent pas l'intérêt ou les droits et libertés fondamentaux de la personne concernée qui peut prétendre à une protection au titre de la présente loi.` `Processing base`</div>
<div class="progress-msg">[12:23:43] Associate post `de verwerking is noodzakelijk voor de behartiging van de gerechtvaardigde belangen van de verwerkingsverantwoordelijke of van een derde, behalve wanneer de belangen of de grondrechten en de fundamentele vrijheden van de betrokkene die tot bescherming van persoonsgegevens nopen, zwaarder wegen dan die belangen, met name wanneer de betrokkene een kind is. / Le traitement est nécessaire à la réalisation de l'intérêt légitime poursuivi par le responsable du traitement ou par le tiers auquel les données sont communiquées, à condition que ne prévalent pas l'intérêt ou les droits et libertés fondamentaux de la personne concernée qui peut prétendre à une protection au titre de la présente loi.` with current import ...</div>
<div class="progress-msg">[12:23:43] <strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">[12:23:43] - Importing field `processing_base_name_nl`</div>
<div class="progress-msg">[12:23:43] - Field `processing_base_name_nl` updated with value `de verwerking is noodzakelijk voor de behartiging van de gerechtvaardigde belangen van de verwerkingsverantwoordelijke of van een derde, behalve wanneer de belangen of de grondrechten en de fundamentele vrijheden van de betrokkene die tot bescherming van persoonsgegevens nopen, zwaarder wegen dan die belangen, met name wanneer de betrokkene een kind is.`</div>
<div class="progress-msg">[12:23:43] - Importing field `processing_base_name_fr`</div>
<div class="progress-msg">[12:23:43] - Field `processing_base_name_fr` updated with value `Le traitement est nécessaire à la réalisation de l&#039;intérêt légitime poursuivi par le responsable du traitement ou par le tiers auquel les données sont communiquées, à condition que ne prévalent pas l&#039;intérêt ou les droits et libertés fondamentaux de la personne concernée qui peut prétendre à une protection au titre de la présente loi.`</div>
<div class="progress-msg">[12:23:43] <b>CREATED</b> `de verwerking is noodzakelijk voor de behartiging van de gerechtvaardigde belangen van de verwerkingsverantwoordelijke of van een derde, behalve wanneer de belangen of de grondrechten en de fundamentele vrijheden van de betrokkene die tot bescherming van persoonsgegevens nopen, zwaarder wegen dan die belangen, met name wanneer de betrokkene een kind is. / Le traitement est nécessaire à la réalisation de l'intérêt légitime poursuivi par le responsable du traitement ou par le tiers auquel les données sont communiquées, à condition que ne prévalent pas l'intérêt ou les droits et libertés fondamentaux de la personne concernée qui peut prétendre à une protection au titre de la présente loi.` `Processing base` (ID: 2152)</div>
<div class="progress-msg">[12:23:43] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[12:23:43] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[12:23:43] Cleaning temporary data...</div>
