<div class='progress-msg'>Tue, 24 Oct 2017 12:37:26 +0000</div>
<div class="progress-msg">[12:37:26] Composing titles...</div>
<div class="progress-msg">[12:37:26] Composing excerpts...</div>
<div class="progress-msg">[12:37:26] Composing duplicate indicators...</div>
<div class="progress-msg">[12:37:26] Composing authors...</div>
<div class="progress-msg">[12:37:26] Composing slugs...</div>
<div class="progress-msg">[12:37:26] Composing menu order...</div>
<div class="progress-msg">[12:37:26] Composing contents...</div>
<div class="progress-msg">[12:37:26] Composing dates...</div>
<div class="progress-msg">[12:37:26] Composing custom parameters...</div>
<div class="progress-msg">[12:37:26] Composing URLs for images...</div>
<div class="progress-msg">[12:37:26] Composing URLs for attachments files...</div>
<div class="progress-msg">[12:37:26] Composing unique keys...</div>
<div class="progress-msg">[12:37:26] Processing posts...</div>
<div class="progress-msg">[12:37:26] Data parsing via add-ons...</div>
<div class="progress-msg">[12:37:26] Composing advanced custom fields...</div>
<div class="progress-msg">[12:37:26] ---</div>
<div class="progress-msg">[12:37:26] Record #1</div>
<div class="progress-msg">[12:37:26] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[12:37:26] Combine all data for post `Burgers <br> Citoyens`...</div>
<div class="progress-msg">[12:37:26] Find corresponding article among previously imported for post `Burgers <br> Citoyens`...</div>
<div class="progress-msg">[12:37:26] Duplicate post wasn't found with unique key `Burgers <br> Citoyens`...</div>
<div class="progress-msg">[12:37:26] Applying filter `pmxi_article_data` for `Burgers <br> Citoyens`</div>
<div class="progress-msg">[12:37:26] <b>CREATING</b> `Burgers <br> Citoyens` `Involved party`</div>
<div class="progress-msg">[12:37:26] Associate post `Burgers <br> Citoyens` with current import ...</div>
<div class="progress-msg">[12:37:26] <strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">[12:37:26] - Importing field `involved_party_nl`</div>
<div class="progress-msg">[12:37:26] - Field `involved_party_nl` updated with value `Burgers`</div>
<div class="progress-msg">[12:37:26] - Importing field `involved_party_fr`</div>
<div class="progress-msg">[12:37:26] - Field `involved_party_fr` updated with value `Citoyens`</div>
<div class="progress-msg">[12:37:26] <b>CREATED</b> `Burgers <br> Citoyens` `Involved party` (ID: 2161)</div>
<div class="progress-msg">[12:37:26] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[12:37:26] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[12:37:26] ---</div>
<div class="progress-msg">[12:37:26] Record #2</div>
<div class="progress-msg">[12:37:26] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[12:37:26] Combine all data for post `Personeel van de overheidsinstelling <br> Personnel des institutions publiques`...</div>
<div class="progress-msg">[12:37:26] Find corresponding article among previously imported for post `Personeel van de overheidsinstelling <br> Personnel des institutions publiques`...</div>
<div class="progress-msg">[12:37:26] Duplicate post wasn't found with unique key `Personeel van de overheidsinstelling <br> Personnel des institutions publiques`...</div>
<div class="progress-msg">[12:37:26] Applying filter `pmxi_article_data` for `Personeel van de overheidsinstelling <br> Personnel des institutions publiques`</div>
<div class="progress-msg">[12:37:26] <b>CREATING</b> `Personeel van de overheidsinstelling <br> Personnel des institutions publiques` `Involved party`</div>
<div class="progress-msg">[12:37:26] Associate post `Personeel van de overheidsinstelling <br> Personnel des institutions publiques` with current import ...</div>
<div class="progress-msg">[12:37:26] <strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">[12:37:26] - Importing field `involved_party_nl`</div>
<div class="progress-msg">[12:37:26] - Field `involved_party_nl` updated with value `Personeel van de overheidsinstelling`</div>
<div class="progress-msg">[12:37:26] - Importing field `involved_party_fr`</div>
<div class="progress-msg">[12:37:26] - Field `involved_party_fr` updated with value `Personnel des institutions publiques`</div>
<div class="progress-msg">[12:37:26] <b>CREATED</b> `Personeel van de overheidsinstelling <br> Personnel des institutions publiques` `Involved party` (ID: 2162)</div>
<div class="progress-msg">[12:37:26] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[12:37:26] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[12:37:26] ---</div>
<div class="progress-msg">[12:37:26] Record #3</div>
<div class="progress-msg">[12:37:26] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[12:37:26] Combine all data for post `Overtreders <br> Les contrevenants`...</div>
<div class="progress-msg">[12:37:26] Find corresponding article among previously imported for post `Overtreders <br> Les contrevenants`...</div>
<div class="progress-msg">[12:37:26] Duplicate post wasn't found with unique key `Overtreders <br> Les contrevenants`...</div>
<div class="progress-msg">[12:37:26] Applying filter `pmxi_article_data` for `Overtreders <br> Les contrevenants`</div>
<div class="progress-msg">[12:37:26] <b>CREATING</b> `Overtreders <br> Les contrevenants` `Involved party`</div>
<div class="progress-msg">[12:37:26] Associate post `Overtreders <br> Les contrevenants` with current import ...</div>
<div class="progress-msg">[12:37:26] <strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">[12:37:26] - Importing field `involved_party_nl`</div>
<div class="progress-msg">[12:37:26] - Field `involved_party_nl` updated with value `Overtreders`</div>
<div class="progress-msg">[12:37:26] - Importing field `involved_party_fr`</div>
<div class="progress-msg">[12:37:26] - Field `involved_party_fr` updated with value `Les contrevenants`</div>
<div class="progress-msg">[12:37:26] <b>CREATED</b> `Overtreders <br> Les contrevenants` `Involved party` (ID: 2163)</div>
<div class="progress-msg">[12:37:26] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[12:37:26] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[12:37:26] ---</div>
<div class="progress-msg">[12:37:26] Record #4</div>
<div class="progress-msg">[12:37:26] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[12:37:26] Combine all data for post `Verdachten <br> Suspects`...</div>
<div class="progress-msg">[12:37:26] Find corresponding article among previously imported for post `Verdachten <br> Suspects`...</div>
<div class="progress-msg">[12:37:26] Duplicate post wasn't found with unique key `Verdachten <br> Suspects`...</div>
<div class="progress-msg">[12:37:26] Applying filter `pmxi_article_data` for `Verdachten <br> Suspects`</div>
<div class="progress-msg">[12:37:26] <b>CREATING</b> `Verdachten <br> Suspects` `Involved party`</div>
<div class="progress-msg">[12:37:26] Associate post `Verdachten <br> Suspects` with current import ...</div>
<div class="progress-msg">[12:37:26] <strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">[12:37:26] - Importing field `involved_party_nl`</div>
<div class="progress-msg">[12:37:26] - Field `involved_party_nl` updated with value `Verdachten`</div>
<div class="progress-msg">[12:37:26] - Importing field `involved_party_fr`</div>
<div class="progress-msg">[12:37:26] - Field `involved_party_fr` updated with value `Suspects`</div>
<div class="progress-msg">[12:37:26] <b>CREATED</b> `Verdachten <br> Suspects` `Involved party` (ID: 2164)</div>
<div class="progress-msg">[12:37:26] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[12:37:26] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[12:37:26] ---</div>
<div class="progress-msg">[12:37:26] Record #5</div>
<div class="progress-msg">[12:37:26] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[12:37:26] Combine all data for post `Getuigen of derde aan een overtreding <br> Témoin ou tiers à un délit`...</div>
<div class="progress-msg">[12:37:26] Find corresponding article among previously imported for post `Getuigen of derde aan een overtreding <br> Témoin ou tiers à un délit`...</div>
<div class="progress-msg">[12:37:26] Duplicate post wasn't found with unique key `Getuigen of derde aan een overtreding <br> Témoin ou tiers à un délit`...</div>
<div class="progress-msg">[12:37:26] Applying filter `pmxi_article_data` for `Getuigen of derde aan een overtreding <br> Témoin ou tiers à un délit`</div>
<div class="progress-msg">[12:37:26] <b>CREATING</b> `Getuigen of derde aan een overtreding <br> Témoin ou tiers à un délit` `Involved party`</div>
<div class="progress-msg">[12:37:26] Associate post `Getuigen of derde aan een overtreding <br> Témoin ou tiers à un délit` with current import ...</div>
<div class="progress-msg">[12:37:26] <strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">[12:37:26] - Importing field `involved_party_nl`</div>
<div class="progress-msg">[12:37:26] - Field `involved_party_nl` updated with value `Getuigen of derde aan een overtreding`</div>
<div class="progress-msg">[12:37:26] - Importing field `involved_party_fr`</div>
<div class="progress-msg">[12:37:26] - Field `involved_party_fr` updated with value `Témoin ou tiers à un délit`</div>
<div class="progress-msg">[12:37:26] <b>CREATED</b> `Getuigen of derde aan een overtreding <br> Témoin ou tiers à un délit` `Involved party` (ID: 2165)</div>
<div class="progress-msg">[12:37:26] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[12:37:26] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[12:37:26] ---</div>
<div class="progress-msg">[12:37:26] Record #6</div>
<div class="progress-msg">[12:37:26] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[12:37:26] Combine all data for post `Slachtoffers <br> Victimes`...</div>
<div class="progress-msg">[12:37:26] Find corresponding article among previously imported for post `Slachtoffers <br> Victimes`...</div>
<div class="progress-msg">[12:37:26] Duplicate post wasn't found with unique key `Slachtoffers <br> Victimes`...</div>
<div class="progress-msg">[12:37:26] Applying filter `pmxi_article_data` for `Slachtoffers <br> Victimes`</div>
<div class="progress-msg">[12:37:26] <b>CREATING</b> `Slachtoffers <br> Victimes` `Involved party`</div>
<div class="progress-msg">[12:37:26] Associate post `Slachtoffers <br> Victimes` with current import ...</div>
<div class="progress-msg">[12:37:26] <strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">[12:37:26] - Importing field `involved_party_nl`</div>
<div class="progress-msg">[12:37:26] - Field `involved_party_nl` updated with value `Slachtoffers`</div>
<div class="progress-msg">[12:37:26] - Importing field `involved_party_fr`</div>
<div class="progress-msg">[12:37:26] - Field `involved_party_fr` updated with value `Victimes`</div>
<div class="progress-msg">[12:37:26] <b>CREATED</b> `Slachtoffers <br> Victimes` `Involved party` (ID: 2166)</div>
<div class="progress-msg">[12:37:26] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[12:37:26] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[12:37:26] ---</div>
<div class="progress-msg">[12:37:26] Record #7</div>
<div class="progress-msg">[12:37:26] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[12:37:26] Combine all data for post `Klagers <br> Plaignants`...</div>
<div class="progress-msg">[12:37:26] Find corresponding article among previously imported for post `Klagers <br> Plaignants`...</div>
<div class="progress-msg">[12:37:26] Duplicate post wasn't found with unique key `Klagers <br> Plaignants`...</div>
<div class="progress-msg">[12:37:26] Applying filter `pmxi_article_data` for `Klagers <br> Plaignants`</div>
<div class="progress-msg">[12:37:26] <b>CREATING</b> `Klagers <br> Plaignants` `Involved party`</div>
<div class="progress-msg">[12:37:26] Associate post `Klagers <br> Plaignants` with current import ...</div>
<div class="progress-msg">[12:37:26] <strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">[12:37:26] - Importing field `involved_party_nl`</div>
<div class="progress-msg">[12:37:26] - Field `involved_party_nl` updated with value `Klagers`</div>
<div class="progress-msg">[12:37:26] - Importing field `involved_party_fr`</div>
<div class="progress-msg">[12:37:26] - Field `involved_party_fr` updated with value `Plaignants`</div>
<div class="progress-msg">[12:37:26] <b>CREATED</b> `Klagers <br> Plaignants` `Involved party` (ID: 2167)</div>
<div class="progress-msg">[12:37:26] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[12:37:26] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[12:37:26] ---</div>
<div class="progress-msg">[12:37:26] Record #8</div>
<div class="progress-msg">[12:37:26] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[12:37:26] Combine all data for post `Correspondenten <br> Correspondants`...</div>
<div class="progress-msg">[12:37:26] Find corresponding article among previously imported for post `Correspondenten <br> Correspondants`...</div>
<div class="progress-msg">[12:37:26] Duplicate post wasn't found with unique key `Correspondenten <br> Correspondants`...</div>
<div class="progress-msg">[12:37:26] Applying filter `pmxi_article_data` for `Correspondenten <br> Correspondants`</div>
<div class="progress-msg">[12:37:26] <b>CREATING</b> `Correspondenten <br> Correspondants` `Involved party`</div>
<div class="progress-msg">[12:37:26] Associate post `Correspondenten <br> Correspondants` with current import ...</div>
<div class="progress-msg">[12:37:26] <strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">[12:37:26] - Importing field `involved_party_nl`</div>
<div class="progress-msg">[12:37:26] - Field `involved_party_nl` updated with value `Correspondenten`</div>
<div class="progress-msg">[12:37:26] - Importing field `involved_party_fr`</div>
<div class="progress-msg">[12:37:26] - Field `involved_party_fr` updated with value `Correspondants`</div>
<div class="progress-msg">[12:37:26] <b>CREATED</b> `Correspondenten <br> Correspondants` `Involved party` (ID: 2168)</div>
<div class="progress-msg">[12:37:26] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[12:37:26] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[12:37:26] ---</div>
<div class="progress-msg">[12:37:26] Record #9</div>
<div class="progress-msg">[12:37:26] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[12:37:26] Combine all data for post `Minderjarigen <br> Mineurs`...</div>
<div class="progress-msg">[12:37:26] Find corresponding article among previously imported for post `Minderjarigen <br> Mineurs`...</div>
<div class="progress-msg">[12:37:26] Duplicate post wasn't found with unique key `Minderjarigen <br> Mineurs`...</div>
<div class="progress-msg">[12:37:26] Applying filter `pmxi_article_data` for `Minderjarigen <br> Mineurs`</div>
<div class="progress-msg">[12:37:26] <b>CREATING</b> `Minderjarigen <br> Mineurs` `Involved party`</div>
<div class="progress-msg">[12:37:26] Associate post `Minderjarigen <br> Mineurs` with current import ...</div>
<div class="progress-msg">[12:37:26] <strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">[12:37:26] - Importing field `involved_party_nl`</div>
<div class="progress-msg">[12:37:26] - Field `involved_party_nl` updated with value `Minderjarigen`</div>
<div class="progress-msg">[12:37:26] - Importing field `involved_party_fr`</div>
<div class="progress-msg">[12:37:26] - Field `involved_party_fr` updated with value `Mineurs`</div>
<div class="progress-msg">[12:37:26] <b>CREATED</b> `Minderjarigen <br> Mineurs` `Involved party` (ID: 2169)</div>
<div class="progress-msg">[12:37:26] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[12:37:26] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[12:37:26] ---</div>
<div class="progress-msg">[12:37:26] Record #10</div>
<div class="progress-msg">[12:37:26] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[12:37:26] Combine all data for post `Familie, voogd(en), vennoten van de ‘betrokkene’ <br> Famille, tuteur(s), partenaire de la «personne concernée»`...</div>
<div class="progress-msg">[12:37:26] Find corresponding article among previously imported for post `Familie, voogd(en), vennoten van de ‘betrokkene’ <br> Famille, tuteur(s), partenaire de la «personne concernée»`...</div>
<div class="progress-msg">[12:37:26] Duplicate post wasn't found with unique key `Familie, voogd(en), vennoten van de ‘betrokkene’ <br> Famille, tuteur(s), partenaire de la «personne concernée»`...</div>
<div class="progress-msg">[12:37:26] Applying filter `pmxi_article_data` for `Familie, voogd(en), vennoten van de ‘betrokkene’ <br> Famille, tuteur(s), partenaire de la «personne concernée»`</div>
<div class="progress-msg">[12:37:26] <b>CREATING</b> `Familie, voogd(en), vennoten van de ‘betrokkene’ <br> Famille, tuteur(s), partenaire de la «personne concernée»` `Involved party`</div>
<div class="progress-msg">[12:37:26] Associate post `Familie, voogd(en), vennoten van de ‘betrokkene’ <br> Famille, tuteur(s), partenaire de la «personne concernée»` with current import ...</div>
<div class="progress-msg">[12:37:26] <strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">[12:37:26] - Importing field `involved_party_nl`</div>
<div class="progress-msg">[12:37:26] - Field `involved_party_nl` updated with value `Familie, voogd(en), vennoten van de ‘betrokkene’`</div>
<div class="progress-msg">[12:37:26] - Importing field `involved_party_fr`</div>
<div class="progress-msg">[12:37:26] - Field `involved_party_fr` updated with value `Famille, tuteur(s), partenaire de la «personne concernée»`</div>
<div class="progress-msg">[12:37:26] <b>CREATED</b> `Familie, voogd(en), vennoten van de ‘betrokkene’ <br> Famille, tuteur(s), partenaire de la «personne concernée»` `Involved party` (ID: 2170)</div>
<div class="progress-msg">[12:37:26] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[12:37:26] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[12:37:26] ---</div>
<div class="progress-msg">[12:37:26] Record #11</div>
<div class="progress-msg">[12:37:26] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[12:37:26] Combine all data for post `Raadslieden, consultants of experts <br> Conseillers, consultants ou experts`...</div>
<div class="progress-msg">[12:37:26] Find corresponding article among previously imported for post `Raadslieden, consultants of experts <br> Conseillers, consultants ou experts`...</div>
<div class="progress-msg">[12:37:26] Duplicate post wasn't found with unique key `Raadslieden, consultants of experts <br> Conseillers, consultants ou experts`...</div>
<div class="progress-msg">[12:37:26] Applying filter `pmxi_article_data` for `Raadslieden, consultants of experts <br> Conseillers, consultants ou experts`</div>
<div class="progress-msg">[12:37:26] <b>CREATING</b> `Raadslieden, consultants of experts <br> Conseillers, consultants ou experts` `Involved party`</div>
<div class="progress-msg">[12:37:26] Associate post `Raadslieden, consultants of experts <br> Conseillers, consultants ou experts` with current import ...</div>
<div class="progress-msg">[12:37:26] <strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">[12:37:26] - Importing field `involved_party_nl`</div>
<div class="progress-msg">[12:37:26] - Field `involved_party_nl` updated with value `Raadslieden, consultants of experts`</div>
<div class="progress-msg">[12:37:26] - Importing field `involved_party_fr`</div>
<div class="progress-msg">[12:37:26] - Field `involved_party_fr` updated with value `Conseillers, consultants ou experts`</div>
<div class="progress-msg">[12:37:26] <b>CREATED</b> `Raadslieden, consultants of experts <br> Conseillers, consultants ou experts` `Involved party` (ID: 2171)</div>
<div class="progress-msg">[12:37:26] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[12:37:26] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[12:37:26] ---</div>
<div class="progress-msg">[12:37:26] Record #12</div>
<div class="progress-msg">[12:37:26] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[12:37:26] Combine all data for post `Werknemers <br> Employés`...</div>
<div class="progress-msg">[12:37:26] Find corresponding article among previously imported for post `Werknemers <br> Employés`...</div>
<div class="progress-msg">[12:37:26] Duplicate post wasn't found with unique key `Werknemers <br> Employés`...</div>
<div class="progress-msg">[12:37:26] Applying filter `pmxi_article_data` for `Werknemers <br> Employés`</div>
<div class="progress-msg">[12:37:26] <b>CREATING</b> `Werknemers <br> Employés` `Involved party`</div>
<div class="progress-msg">[12:37:26] Associate post `Werknemers <br> Employés` with current import ...</div>
<div class="progress-msg">[12:37:26] <strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">[12:37:26] - Importing field `involved_party_nl`</div>
<div class="progress-msg">[12:37:26] - Field `involved_party_nl` updated with value `Werknemers`</div>
<div class="progress-msg">[12:37:26] - Importing field `involved_party_fr`</div>
<div class="progress-msg">[12:37:26] - Field `involved_party_fr` updated with value `Employés`</div>
<div class="progress-msg">[12:37:26] <b>CREATED</b> `Werknemers <br> Employés` `Involved party` (ID: 2172)</div>
<div class="progress-msg">[12:37:26] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[12:37:26] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[12:37:26] ---</div>
<div class="progress-msg">[12:37:26] Record #13</div>
<div class="progress-msg">[12:37:26] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[12:37:26] Combine all data for post `Metaal gehandicapten <br> Handicapé mental`...</div>
<div class="progress-msg">[12:37:26] Find corresponding article among previously imported for post `Metaal gehandicapten <br> Handicapé mental`...</div>
<div class="progress-msg">[12:37:26] Duplicate post wasn't found with unique key `Metaal gehandicapten <br> Handicapé mental`...</div>
<div class="progress-msg">[12:37:26] Applying filter `pmxi_article_data` for `Metaal gehandicapten <br> Handicapé mental`</div>
<div class="progress-msg">[12:37:26] <b>CREATING</b> `Metaal gehandicapten <br> Handicapé mental` `Involved party`</div>
<div class="progress-msg">[12:37:26] Associate post `Metaal gehandicapten <br> Handicapé mental` with current import ...</div>
<div class="progress-msg">[12:37:26] <strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">[12:37:26] - Importing field `involved_party_nl`</div>
<div class="progress-msg">[12:37:26] - Field `involved_party_nl` updated with value `Metaal gehandicapten`</div>
<div class="progress-msg">[12:37:26] - Importing field `involved_party_fr`</div>
<div class="progress-msg">[12:37:26] - Field `involved_party_fr` updated with value `Handicapé mental`</div>
<div class="progress-msg">[12:37:26] <b>CREATED</b> `Metaal gehandicapten <br> Handicapé mental` `Involved party` (ID: 2173)</div>
<div class="progress-msg">[12:37:26] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[12:37:26] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[12:37:26] ---</div>
<div class="progress-msg">[12:37:26] Record #14</div>
<div class="progress-msg">[12:37:26] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[12:37:26] Combine all data for post `Asielzoekers <br> Demandeurs d'asile`...</div>
<div class="progress-msg">[12:37:26] Find corresponding article among previously imported for post `Asielzoekers <br> Demandeurs d'asile`...</div>
<div class="progress-msg">[12:37:26] Duplicate post wasn't found with unique key `Asielzoekers <br> Demandeurs d'asile`...</div>
<div class="progress-msg">[12:37:26] Applying filter `pmxi_article_data` for `Asielzoekers <br> Demandeurs d'asile`</div>
<div class="progress-msg">[12:37:26] <b>CREATING</b> `Asielzoekers <br> Demandeurs d'asile` `Involved party`</div>
<div class="progress-msg">[12:37:27] Associate post `Asielzoekers <br> Demandeurs d'asile` with current import ...</div>
<div class="progress-msg">[12:37:27] <strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">[12:37:27] - Importing field `involved_party_nl`</div>
<div class="progress-msg">[12:37:27] - Field `involved_party_nl` updated with value `Asielzoekers`</div>
<div class="progress-msg">[12:37:27] - Importing field `involved_party_fr`</div>
<div class="progress-msg">[12:37:27] - Field `involved_party_fr` updated with value `Demandeurs d&#039;asile`</div>
<div class="progress-msg">[12:37:27] <b>CREATED</b> `Asielzoekers <br> Demandeurs d'asile` `Involved party` (ID: 2174)</div>
<div class="progress-msg">[12:37:27] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[12:37:27] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[12:37:27] ---</div>
<div class="progress-msg">[12:37:27] Record #15</div>
<div class="progress-msg">[12:37:27] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[12:37:27] Combine all data for post `Ouderen <br> Personnes âgées`...</div>
<div class="progress-msg">[12:37:27] Find corresponding article among previously imported for post `Ouderen <br> Personnes âgées`...</div>
<div class="progress-msg">[12:37:27] Duplicate post wasn't found with unique key `Ouderen <br> Personnes âgées`...</div>
<div class="progress-msg">[12:37:27] Applying filter `pmxi_article_data` for `Ouderen <br> Personnes âgées`</div>
<div class="progress-msg">[12:37:27] <b>CREATING</b> `Ouderen <br> Personnes âgées` `Involved party`</div>
<div class="progress-msg">[12:37:27] Associate post `Ouderen <br> Personnes âgées` with current import ...</div>
<div class="progress-msg">[12:37:27] <strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">[12:37:27] - Importing field `involved_party_nl`</div>
<div class="progress-msg">[12:37:27] - Field `involved_party_nl` updated with value `Ouderen`</div>
<div class="progress-msg">[12:37:27] - Importing field `involved_party_fr`</div>
<div class="progress-msg">[12:37:27] - Field `involved_party_fr` updated with value `Personnes âgées`</div>
<div class="progress-msg">[12:37:27] <b>CREATED</b> `Ouderen <br> Personnes âgées` `Involved party` (ID: 2175)</div>
<div class="progress-msg">[12:37:27] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[12:37:27] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[12:37:27] ---</div>
<div class="progress-msg">[12:37:27] Record #16</div>
<div class="progress-msg">[12:37:27] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[12:37:27] Combine all data for post `Patiënten <br> Patients`...</div>
<div class="progress-msg">[12:37:27] Find corresponding article among previously imported for post `Patiënten <br> Patients`...</div>
<div class="progress-msg">[12:37:27] Duplicate post wasn't found with unique key `Patiënten <br> Patients`...</div>
<div class="progress-msg">[12:37:27] Applying filter `pmxi_article_data` for `Patiënten <br> Patients`</div>
<div class="progress-msg">[12:37:27] <b>CREATING</b> `Patiënten <br> Patients` `Involved party`</div>
<div class="progress-msg">[12:37:27] Associate post `Patiënten <br> Patients` with current import ...</div>
<div class="progress-msg">[12:37:27] <strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">[12:37:27] - Importing field `involved_party_nl`</div>
<div class="progress-msg">[12:37:27] - Field `involved_party_nl` updated with value `Patiënten`</div>
<div class="progress-msg">[12:37:27] - Importing field `involved_party_fr`</div>
<div class="progress-msg">[12:37:27] - Field `involved_party_fr` updated with value `Patients`</div>
<div class="progress-msg">[12:37:27] <b>CREATED</b> `Patiënten <br> Patients` `Involved party` (ID: 2176)</div>
<div class="progress-msg">[12:37:27] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[12:37:27] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[12:37:27] ---</div>
<div class="progress-msg">[12:37:27] Record #17</div>
<div class="progress-msg">[12:37:27] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">[12:37:27] Combine all data for post `Andere <br> Autre`...</div>
<div class="progress-msg">[12:37:27] Find corresponding article among previously imported for post `Andere <br> Autre`...</div>
<div class="progress-msg">[12:37:27] Duplicate post wasn't found with unique key `Andere <br> Autre`...</div>
<div class="progress-msg">[12:37:27] Applying filter `pmxi_article_data` for `Andere <br> Autre`</div>
<div class="progress-msg">[12:37:27] <b>CREATING</b> `Andere <br> Autre` `Involved party`</div>
<div class="progress-msg">[12:37:27] Associate post `Andere <br> Autre` with current import ...</div>
<div class="progress-msg">[12:37:27] <strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">[12:37:27] - Importing field `involved_party_nl`</div>
<div class="progress-msg">[12:37:27] - Field `involved_party_nl` updated with value `Andere`</div>
<div class="progress-msg">[12:37:27] - Importing field `involved_party_fr`</div>
<div class="progress-msg">[12:37:27] - Field `involved_party_fr` updated with value `Autre`</div>
<div class="progress-msg">[12:37:27] <b>CREATED</b> `Andere <br> Autre` `Involved party` (ID: 2177)</div>
<div class="progress-msg">[12:37:27] <b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg">[12:37:27] <b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">[12:37:27] Cleaning temporary data...</div>
